{% apply spaceless %}

{# Parameters:
  - label (string) (default: '')
  - background: (string) (default: 'primary')
  - url (string) (default: '')
  - title (string) (default: label)
  - dismissible (boolean) (default: false)
  - assistive_text (string) (default: '')
  - rounded_pill (boolean) (default: false)
  - outline (boolean) (default: false)
  - icon_path (string) (default: '')
  - attributes (drupal attrs)
#}

{% set _label = label|default('') %}
{% set _background = background|default('primary') %}
{% set _url = url|default('') %}
{% set _title = title|default(_label) %}
{% set _dismissible = dismissible|default(false) %}
{% set _assistive_text = assistive_text|default('') %}
{% set _rounded_pill = rounded_pill|default(false) %}
{% set _outline = outline|default(false) %}
{% set _icon_path = icon_path|default('') %}

{% set _classes = ['badge'] %}

{% if _rounded_pill %}
  {% set _classes = _classes|merge(['rounded-pill']) %}
{% endif %}

{% if _outline %}
  {% set _classes = _classes|merge([ 'badge-outline-' ~ _background]) %}
{% else %}
  {% set _classes = _classes|merge([ 'bg-' ~ _background]) %}
{% endif %}

{% if attributes is empty %}
  {% set attributes = create_attribute() %}
{% endif %}

{%- if _url is not empty -%}
  {% set attributes = attributes.setAttribute('title', _title).setAttribute('href', _url) %}
{%- endif -%}

{% set attributes = attributes.addClass(_classes) %}

{%- if _url is not empty -%}
<a
  {{ attributes }}
>
{%- else -%}
<span
  {{ attributes }}
>
{%- endif -%}
  {%- if _assistive_text is not empty -%}
    <span class="visually-hidden">
      {{- _assistive_text -}}
    </span>
  {%- endif -%}
    {{- _label -}}
  {%- if _dismissible -%}
    <span class="icon--close" aria-hidden="true">
      {% include '@oe-bcl/bcl-icon/icon.html.twig' with {
        name: "x-circle-fill",
        size: "xs",
        path: _icon_path,
      } only %}
    </span>
  {%- endif -%}
{%- if _url is not empty -%}
</a>
{%- else -%}
</span>
{%- endif -%}

{% endapply %}
