@mixin collapsed-margins-pseudo-element($margin) {
  content: "";
  height: 0;
  display: flex;
  visibility: hidden;
  margin-top: -$margin;
  margin-bottom: $margin;
}

// Neutralizes bottom margin of last child element.
@mixin collapsed-margin-top($margin: 200px) {
  &::before {
    @include collapsed-margins-pseudo-element($margin);
  }
}

// Neutralizes the top margin of first child element.
@mixin collapsed-margin-bottom($margin: 200px) {
  &::after {
    @include collapsed-margins-pseudo-element(-$margin);
  }
}

// Neutralizes margins of child elements:
// - top margin of first element or its first children.
// - bottom margin of last element or its last children.
@mixin collapsed-margins($margin_top: 200px, $margin_bottom: $margin_top) {
  @include collapsed-margin-top($margin_top);
  @include collapsed-margin-bottom($margin_bottom);
}
