{% spaceless %}

{# Parameters:
  - title: (string) (default: '')
  - content: (string) (default: '')
  - button: (button Object) (default: {})
  - attributes (drupal attrs)
#}

{% set _title = title|default(false) %}
{% set _content = content|default('') %}
{% set _button = button|default({}) %}

{% set _classes = ['bcl-subscription-block', 'bg-light', 'px-4-5', 'pt-4', 'pb-4-5'] %}

{% if attributes is empty %}
  {% set attributes = create_attribute() %}
{% endif %}

{% set attributes = attributes.addClass(_classes) %}

<div
  {{ attributes }}
>
  {% if _title is not empty %}
    <div class="fs-2 fw-normal">{{ _title }}</div>
  {% endif %}
  {% if _content is not empty %}
    {{ _content }}
  {% endif %}
  {% if _button is not empty %}
    <div class="pb-2">
    {% include '@oe-bcl/bcl-button/button.html.twig' with _button only %}
    </div>
  {% endif %}
</div>

{% endspaceless %}
