// icon

$icon: (
  "2xs": 0.75rem,
  "xs": 1rem,
  "s": 1.25rem,
  "m": 1.5rem,
  "l": 2rem,
  "xl": 2.5rem,
  "2xl": 3rem,
  "fluid": 1em,
) !default;

.icon--2xs {
  width: map-get($icon, "2xs");
  height: map-get($icon, "2xs");
}

.icon--xs {
  width: map-get($icon, "xs");
  height: map-get($icon, "xs");
}

.icon--s {
  width: map-get($icon, "s");
  height: map-get($icon, "s");
}

.icon--m {
  width: map-get($icon, "m");
  height: map-get($icon, "m");
}

.icon--l {
  width: map-get($icon, "l");
  height: map-get($icon, "l");
}

.icon--xl {
  width: map-get($icon, "xl");
  height: map-get($icon, "xl");
}

.icon--2xl {
  width: map-get($icon, "2xl");
  height: map-get($icon, "2xl");
}

.icon--fluid {
  width: map-get($icon, "fluid");
  height: map-get($icon, "fluid");
}

.icon--rotate-90 {
  transform: rotateZ(90deg);
}

.icon--rotate-180 {
  transform: rotateZ(180deg);
}

.icon--rotate-270 {
  transform: rotateZ(270deg);
}

.icon--flip-horizontal {
  transform: scaleX(-1);
}

.icon--flip-vertical {
  transform: scaleY(-1);
}

a,
.btn {
  .bi {
    margin: 0 0.2rem;
    vertical-align: middle;
  }
}

.badge {
  .icon--close {
    margin-left: 0.3rem;
    font-size: 0.8rem;
    line-height: 0.6rem;
    vertical-align: top;
    cursor: pointer;
    background: $white;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    display: inline-block;
    font-weight: 300;
  }
  &.bg-primary {
    .icon--close {
      color: $primary;
    }
  }
  &.bg-secondary {
    .icon--close {
      color: $secondary;
    }
  }
  &.bg-success {
    .icon--close {
      color: $success;
    }
  }
  &.bg-danger {
    .icon--close {
      color: $danger;
    }
  }
  &.bg-dark {
    .icon--close {
      color: $dark;
    }
  }
  &.bg-warning {
    .icon--close {
      background: $black;
      color: $warning;
    }
  }
  &.bg-info {
    .icon--close {
      background: $black;
      color: $info;
    }
  }
  &.bg-light {
    .icon--close {
      background: $black;
      color: $light;
    }
  }
}
