$height: 30px !default;
$white: #fff !default;
$font-color: #666 !default;
$font-placeholder-color: #8a8a8a !default;
$font-disabled-color: #dedede !default;
$primary-color: #5897fb !default;
$border-color: #dcdee2 !default;
$search-highlight-color: #fffb8c !default;
$border-radius: 4px !default;
$spacing-l: 8px !default;
$spacing-m: 6px !default;
$spacing-s: 4px !default;

.ss-main {
  position: relative;
  display: inline-block;
  width: 100%;
  color: $font-color;
  user-select: none;
  .ss-single-selected {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: $height;
    padding: $spacing-m;
    cursor: pointer;
    background-color: $white;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    outline: 0;
    transition: background-color 0.2s;
    &.ss-disabled {
      cursor: not-allowed;
      background-color: $border-color;
    }

    &.ss-open-above {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    &.ss-open-below {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .placeholder {
      display: flex;
      flex: 1 1 100%;
      align-items: center;
      width: calc(100% - 30px);
      overflow: hidden;
      line-height: 1em;
      text-align: left;
      text-overflow: ellipsis;
      white-space: nowrap;
      user-select: none;
      * {
        display: flex;
        align-items: center;
        width: auto;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .ss-disabled {
        color: $font-disabled-color;
      }
    }
    .ss-deselect {
      display: flex;
      flex: 0 1 auto;
      align-items: center;
      justify-content: flex-end;
      margin: 0 $spacing-m 0 $spacing-m;
      font-weight: 700;

      &.ss-hide {
        display: none;
      }
    }
    .ss-arrow {
      display: flex;
      flex: 0 1 auto;
      align-items: center;
      justify-content: flex-end;
      margin: 0 $spacing-m 0 $spacing-m;
      span {
        display: inline-block;
        padding: 3px;
        border: solid $font-color;
        border-width: 0 2px 2px 0;
        transition: transform 0.2s, margin 0.2s;
      }
      .arrow-up {
        margin: 3px 0 0;
        transform: rotate(-135deg);
      }
      .arrow-down {
        margin: -3px 0 0;
        transform: rotate(45deg);
      }
    }
  }
  &.is-invalid {
    .ss-multi-selected {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-position: right 1.5rem center, center right 2.25rem;
      background-size: 1.4rem 1.4rem;
      border-color: #dc3545;
      &.ss-open-below {
        box-shadow: 0 0 0 0.25rem rgb(220 53 69 / 25%);
      }
    }
  }
  .ss-multi-selected {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: $height;
    padding: 0 0 0 3px;
    cursor: pointer;
    background-color: $white;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    outline: 0;
    transition: background-color 0.2s;
    &.ss-open-above {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    &.ss-open-below {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  .ss-multi-selected.ss-disabled {
    cursor: not-allowed;
    background-color: $border-color;
    .ss-disabled {
      color: $font-color;
    }
    .ss-value-delete {
      pointer-events: none;
      cursor: not-allowed;
    }
  }
  .ss-values {
    display: flex;
    flex: 1 1 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: calc(100% - 30px);
    padding: 0.3rem 0.2rem;
    .ss-disabled {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 4px 5px;
      margin: 1px 0;
      overflow: hidden;
      line-height: 1em;
      color: $font-disabled-color;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    @keyframes scaleIn {
      0% {
        opacity: 0;
        transform: scale(0);
      }
      100% {
        opacity: 1;
        transform: scale(1);
      }
    }
    @keyframes scaleOut {
      0% {
        opacity: 1;
        transform: scale(1);
      }
      100% {
        opacity: 0;
        transform: scale(0);
      }
    }
  }
  .ss-value {
    display: flex;
    display: inline-block;
    align-items: center;
    padding: 0.55em 0.65em;
    margin-right: 0.2rem;
    font-size: 0.8em;
    line-height: 1;
    color: $white;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    user-select: none;
    background: $blue;
    border-radius: 0.25rem;
    &.ss-out {
      animation-name: scaleOut;
      animation-duration: 0.2s;
      animation-timing-function: ease-out;
    }
  }
  .ss-value-delete {
    margin: 0 0 0 0.2rem;
    cursor: pointer;
  }
  .ss-add {
    display: flex;
    flex: 0 1 3px;
    margin: 9px 12px 0 5px;
  }
  .ss-plus {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2px;
    height: 18px;
    background: $font-color;
    transition: transform 0.2s;

    &::after {
      position: absolute;
      top: 8px;
      left: -8px;
      width: 18px;
      height: 2px;
      content: "";
      background: $font-color;
    }

    &.ss-cross {
      transform: rotate(45deg);
    }
  }
}
.ss-content {
  position: absolute;
  z-index: 1010;
  box-sizing: border-box;
  width: 100%;
  margin: -1px 0 0;
  background-color: $white;
  border: solid 1px $border-color;
  opacity: 0;
  transition: transform 0.2s, opacity 0.2s;
  transform: scaleY(0);
  transform-origin: center top;
  &.ss-open {
    display: block;
    opacity: 1;
    transform: scaleY(1);
  }
  .ss-search {
    display: flex;
    flex-direction: row;
    padding: $spacing-l $spacing-l $spacing-m $spacing-l;
    &.ss-hide {
      height: 0;
      padding: 0;
      margin: 0;
      opacity: 0;
      input {
        height: 0;
        padding: 0;
        margin: 0;
        opacity: 0;
      }
    }
    input {
      box-sizing: border-box;
      display: inline-flex;
      flex: 1 1 auto;
      width: 100%;
      min-width: 0;
      height: 30px;
      padding: $spacing-m $spacing-l;
      margin: 0;
      font-size: inherit;
      line-height: inherit;
      text-align: left;
      background-color: $white;
      border: 1px solid $border-color;
      border-radius: $border-radius;
      outline: 0;
      appearance: textfield;
      &::placeholder {
        color: $font-placeholder-color;
        vertical-align: middle;
      }
      &:focus {
        box-shadow: 0 0 5px $primary-color;
      }
    }
    .ss-addable {
      box-sizing: border-box;
      display: inline-flex;
      flex: 0 0 30px;
      align-items: center;
      justify-content: center;
      height: 30px;
      margin: 0 0 0 8px;
      font-size: 22px;
      font-weight: 700;
      cursor: pointer;
      border: 1px solid $border-color;
      border-radius: $border-radius;
    }
  }
  .ss-addable {
    padding-top: 0;
  }
  .ss-list {
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
    .ss-optgroup {
      .ss-optgroup-label {
        padding: 6px 10px;
        font-weight: 700;
      }
      .ss-option {
        padding: 6px 6px 6px 25px;
      }
    }
    .ss-optgroup-label-selectable {
      cursor: pointer;
      &:hover {
        color: $white;
        background-color: $primary-color;
      }
    }
    .ss-option {
      padding: 6px 10px;
      cursor: pointer;
      user-select: none;
      * {
        display: inline-block;
      }
      &:hover,
      &.ss-highlighted {
        color: $white;
        background-color: $primary-color;
      }
      &.ss-disabled {
        color: $font-disabled-color;
        cursor: not-allowed;
        background-color: $white;
      }
      &:not(.ss-disabled).ss-option-selected {
        color: $font-color;
        background-color: rgba($primary-color, 0.1);
      }
      &.ss-hide {
        display: none;
      }
      .ss-search-highlight {
        background-color: $search-highlight-color;
      }
    }
  }
}
