{
  "extends": [
    "stylelint-config-recommended-scss",
    "stylelint-config-prettier",
  ],
  rules: {
    'selector-class-pattern': null,
    'number-leading-zero': null,
    'scss/no-global-function-names': null,
    'at-rule-no-unknown': null,
  },
  "overrides": [
    {
      "files": ["**/*.scss"],
      "customSyntax": "postcss-scss"
    }
  ],
}
