{% extends '@oe-bcl/bcl-base-templates/content-type.html.twig' %}

{% block sidebar %}
  {% if sidebar.image is not empty %}
    <img class="img-fluid mb-4" src="https://picsum.photos/275?random=1" alt="image" />
  {% endif %}
  <div class="bcl-event-details mb-4">
    <h3 class="fw-bold mb-4">Event Details</h3>
    {% include '@oe-bcl/bcl-description-list/description-list.html.twig' with sidebar only %}
    <div class="mt-3-5">
    {% for badge in sidebar.badges %}
      {% include '@oe-bcl/bcl-badge/badge.html.twig' with badge only %}
    {% endfor %}
    </div>
  </div>
{% endblock %}

{% block content %}
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet eleifend tortor. In facilisis eros vitae turpis ullamcorper,
  a euismod dolor lacinia. Nam facilisis ipsum et sollicitudin imperdiet. Curabitur a efficitur ante. Phasellus non felis laoreet,
  posuere ante ut, rhoncus tortor. Proin sed erat vel nisl luctus vulputate. Nunc tristique ultricies turpis, eu dictum enim ultrices vel.
  Sed posuere at leo sit amet placerat. Sed dapibus viverra urna ac pretium. Praesent et laoreet erat, eget volutpat metus. Duis ac augue
  sed tortor elementum dignissim in sit amet velit. Nullam nec viverra mi.
  </p>
  <h3 class="fw-bold my-4">Description</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet eleifend tortor. In facilisis eros vitae turpis ullamcorper,
  a euismod dolor lacinia. Nam facilisis ipsum et sollicitudin imperdiet. Curabitur a efficitur ante. Phasellus non felis laoreet,
  posuere ante ut, rhoncus tortor. Proin sed erat vel nisl luctus vulputate. Nunc tristique ultricies turpis, eu dictum enim ultrices vel.
  Sed posuere at leo sit amet placerat. Sed dapibus viverra urna ac pretium. Praesent et laoreet erat, eget volutpat metus. Duis ac augue
  sed tortor elementum dignissim in sit amet velit. Nullam nec viverra mi.
  </p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet eleifend tortor. In facilisis eros vitae turpis ullamcorper,
  a euismod dolor lacinia. Nam facilisis ipsum et sollicitudin imperdiet.
  </p>
{% endblock %}

{% block related %}
  <h3 class="fw-bold my-4">Related documents</h3>
  {% include '@oe-bcl/bcl-file/file.html.twig' with files[0] only %}
  {% include '@oe-bcl/bcl-file/file.html.twig' with files[1] only %}
{% endblock %}
