{% spaceless %}

{# 
  Parameters:
  - label (string) (default: '')
  - variant (string) (default: 'primary')
  - size (string) (default: 'md')
    - options ["sm", "md", "lg"]
  - outline (boolean) (default: false)
  - text_nowrap (boolean) (default: false)
  - assistive_text (string) (default: '')
  - icon (icon object) (default: {}): predefined structure for Icon component
  - icon_position (string) (default: after)
    - options ["after", "before"]
  - clean_class (boolean) (default: false)
  - spinner (spinner object) (default: {})
  - show_spinner (boolean) (default: false)
#}

{% set _label = label|default('') %}
{% set _variant = variant|default('primary') %}
{% set _size = size|default('md') %}
{% set _outline = outline|default(false) %}
{% set _text_nowrap = text_nowrap|default(false) %}
{% set _assistive_text = assistive_text|default('') %}
{% set _icon = icon|default({}) %}
{% set _icon_position = icon_position|default('after') %}
{% set _show_spinner = show_spinner|default(false) %}
{% set _spinner = spinner|default({}) %}
{% set _clean_class = clean_class|default(false) %}
{% set _class = [] %}
{# {% set attributes = attributes.removeAttribute('class') %} #}
{% if _clean_class == false %}
  {% set _class = _class|merge(['btn', 'btn-' ~ (_outline ? 'outline-' : '') ~ _variant]) %}
  {% set _class = _class|merge(['btn-' + _size]) %}
{% endif %}
{% if _text_nowrap %}
  {% set _class = _class|merge(['text-nowrap']) %}
{% endif %}

{% set attributes = attributes.addClass(_class) %}

<button
  {{ attributes }}
>
{%- if _show_spinner -%}
  {% include '@oe-bcl/spinner/spinner.html.twig' with _spinner only %}
{%- endif -%}
{%- if _assistive_text is not empty -%}
  <span class="visually-hidden">{{- _assistive_text -}}</span>
{% endif %}
{%- if _icon_position == 'before' -%}
{% if _icon is not empty %}
  {% include '@oe-bcl/icon/icon.html.twig' with _icon only %}
{% endif %}
{%- endif -%}
  {{- label -}}
{%- if _icon_position == 'after' -%}
{%- if _icon is not empty -%}
  {% include '@oe-bcl/icon/icon.html.twig' with _icon only %}
{%- endif -%}
{%- endif -%}
</button>

{% endspaceless %}
