{#
  Parameters:
  - listing (object) (default: {})
  - pagination (object) (default: {})
  - sidebar (object) (default: '')
  - page_title (string) (default: '')
#}

{% extends "@oe-bcl/bcl-base-templates/content-type.html.twig" %}

{% set _listing = listing|default({}) %}
{% set _pagination = pagination|default({}) %}
{% set _search = search|default({}) %}
{% set _sidebar = sidebar|default({}) %}
{% set _page_title = page_title|default({}) %}

{% block content_top %}
  {% include '@oe-bcl/bcl-button/button.html.twig' with filter_button only %}
  <div class="row">
    <div class="col-md-6 col-lg-8 align-self-center">
      <h4 class="mb-0">
        <span class="text-capitalize">
          {{- _page_title -}}
        </span>
        ({{ listing.items.length }})
      </h4>
    </div>
    {% if badges is not empty and badges is iterable %}
      <div class="col-md-12 order-md-2 mt-3">
      {% for badge in badges %}
        {% include '@oe-bcl/bcl-badge/badge.html.twig' with badge|merge({
          attributes: create_attribute().addClass(["mb-2", "me-2"])
        }) only %}
      {% endfor %}
      </div>
    {% endif %}
    <div class="col-md-6 col-lg-4 mt-3 mt-md-0">
      <div class="float-md-end d-md-flex align-items-center mb-4 mb-md-0">
        {% include '@oe-bcl/bcl-select/select.html.twig' with sort_select|merge({
          attributes: create_attribute().addClass(['ms-md-2']),
        }) only %}
      </div>
    </div>
  </div>
  <hr class="d-none d-md-block mb-4"/>
{% endblock %}

{% block content %}
  {% if _listing is not empty %}
    {% include '@oe-bcl/bcl-listing/listing.html.twig' with  _listing %}
  {% endif %}
{% endblock %}

{% block content_bottom %}
  {% if _pagination is not empty %}
    <hr class="d-none d-md-block mt-4-5">
    {% include '@oe-bcl/bcl-pagination/pagination.html.twig' with _pagination only %}
  {% endif %}
{% endblock %}

{% block sidebar %}
  {% include '@oe-bcl/bcl-base-templates/sidebar-search.html.twig' with _sidebar only %}
{% endblock %}
