{% extends "@oe-bcl/bcl-offcanvas/offcanvas.html.twig" %}

{% block body %}
  <div class="offcanvas-body p-lg-0">
    {% include '@oe-bcl/bcl-form/form.html.twig' with search_form only %}
  </div>
{% endblock %}
