{% apply spaceless %}

{#
Parameters:
  - path (string) (default: '')
  - label (string) (default: '')
  - disabled (boolean) (default: false)
  - active (boolean) (default: false)
  - aria_label (string) (default: '')
  - enable_prev_next_icon (boolean) (default: false)
  - enable_first_last_icon (boolean) (default: true)
  - icon_path (string) (default: '')
  - attributes (drupal attrs)
  - position (string) (default: '')
    ['first', 'prev', 'next', 'last']
#}

{% set _path = path|default('') %}
{% set _label = label|default('') %}
{% set _disabled = disabled|default(false) %}
{% set _active = active|default(false) %}
{% set _aria_label = aria_label|default('') %}
{% set _position = position|default('') %}
{% set _enable_prev_next_icon = enable_prev_next_icon %}
{% set _enable_first_last_icon = enable_first_last_icon %}
{% set _icon_path = icon_path %}
{% set _position = position|default('') %}
{% set _classes = ['page-link'] %}

{% if attributes is empty %}
  {% set attributes = create_attribute() %}
{% endif %}

{% if _disabled %}
  {% set attributes = attributes.setAttribute('tabindex', '-1')
                                .setAttribute('aria-disabled', true) 
  %}
{% endif %}

{% if _position == 'first' and _enable_first_last_icon %}
  {% if _icon_path is not empty %}
    {% set _icon = {
        name: "chevron-double-left",
        size: "fluid",
        path: _icon_path,
      }
    %}
  {% else %}
    {% set _icon_html = '&laquo;' %}
  {% endif %}
{% elseif _position == 'prev' and _enable_prev_next_icon %}
  {% if _icon_path is not empty %}
    {% set _icon = {
        name: "chevron-left",
        size: "fluid",
        path: _icon_path,
      }
    %}
  {% else %}
    {% set _icon_html = '&lsaquo;' %}
  {% endif %}
{% elseif _position == 'next'  and _enable_prev_next_icon %}
  {% if _icon_path is not empty %}
    {% set _icon = {
        name: "chevron-right",
        size: "fluid",
        path: _icon_path,
      }
    %}
  {% else %}
    {% set _icon_html = '&rsaquo;' %}
  {% endif %}
{% elseif _position == 'last' and _enable_first_last_icon %}
  {% if _icon_path is not empty %}
    {% set _icon = {
        name: "chevron-double-right",
        size: "fluid",
        path: _icon_path,
      }
    %}
  {% else %}
    {% set _icon_html = '&raquo;' %}
  {% endif %}
{% endif %}

{% if _icon is defined and _icon is not empty %}
  {% set _label = '' %}
{% endif %}

{% if _aria_label is not empty %}
  {% set attributes = attributes.setAttribute('aria-label', _aria_label ) %}
{% endif %}

{% if _path is not empty %}
  {% set attributes = attributes.setAttribute('href', _path ) %}
{% endif %}

{% if _active %}
  {% set attributes = attributes.setAttribute('aria-current', 'page' ) %}
{% endif %}

{% set attributes = attributes.addClass(_classes) %}

{% if _icon_html is defined and _icon_html is not empty %}
  {% set _label %}
    <span aria-hidden="true">{{ _icon_html|raw }}</span>
  {% endset %}
{% endif %}

{%- include '@oe-bcl/bcl-link/link.html.twig' with {
  label: _label,
  path: _path,
  icon: _icon,
  attributes: attributes,
} only -%}

{% endapply %}
