{% apply spaceless %}

{#
Parameters:
  - path (string) (default: '')
  - label (string) (default: '')
  - disabled (boolean) (default: false)
  - active (boolean) (default: false)
  - aria_label (string) (default: '')
  - icon (Icon component) (default: {})
  - attributes (drupal attrs)
  - position (string) (default: '')
    ['first', 'prev', 'next', 'last']
#}

{% set _path = path|default('') %}
{% set _label = label|default('') %}
{% set _disabled = disabled|default(false) %}
{% set _active = active|default(false) %}
{% set _aria_label = aria_label|default('') %}
{% set _icon = icon|default({}) %}
{% set _position = position|default('') %}
{% set _classes = ['page-link'] %}
{% set _character = '' %}

{% if attributes is empty %}
  {% set attributes = create_attribute() %}
{% endif %}

{% if _disabled %}
  {% set attributes = attributes.setAttribute('tabindex', '-1')
                                .setAttribute('aria-disabled', true) 
  %}
{% endif %}

{% set _icon_html = '' %}
{% if _position == 'first' %}
  {% set _icon_html = '&laquo;' %}
{% elseif _position == 'prev' %}
  {% set _icon_html = '&lsaquo;' %}
{% elseif _position == 'next' %}
  {% set _icon_html = '&rsaquo;' %}
{% elseif _position == 'last' %}
  {% set _icon_html = '&raquo;' %}
{% endif %}

{% if _aria_label is not empty %}
  {% set attributes = attributes.setAttribute('aria-label', _aria_label ) %}
{% endif %}

{% if _path is not empty %}
  {% set attributes = attributes.setAttribute('href', _path ) %}
{% endif %}

{% if _active %}
  {% set attributes = attributes.setAttribute('aria-current', 'page' ) %}
{% endif %}

{% set attributes = attributes.addClass(_classes) %}

<a
  {{ attributes }}
>
{%- if _icon is not empty -%}
  {%- include '@oe-bcl/bcl-icon/icon.html.twig' with _icon only -%}
{%- elseif _icon_html is not empty  -%}
  <span aria-hidden="true">{{ _icon_html|raw }}</span>
{%- else -%}
  {{- _label -}}
{%- endif -%}
</a>

{% endapply %}
