{% apply spaceless %}

{#
Parameters:
  - path (string) (default: '')
  - label (string) (default: '')
  - disabled (boolean) (default: false)
  - active (boolean) (default: false)
  - aria_label (string) (default: '')
  - enable_prev_next_icon (boolean) (default: false)
  - enable_first_last_icon (boolean) (default: true)
  - icon (icon object) (default: {})
  - icon_path (string) (default: '')
  - attributes (drupal attrs)
  - position (string) (default: '')
    ['first', 'prev', 'next', 'last']
#}

{% set _path = path|default('') %}
{% set _label = label|default('') %}
{% set _disabled = disabled|default(false) %}
{% set _active = active|default(false) %}
{% set _aria_label = aria_label|default('') %}
{% set _position = position|default('') %}
{% set _enable_prev_next_icon = enable_prev_next_icon|default(false) %}
{% set _enable_first_last_icon = enable_first_last_icon ?? true %}
{% set _icon = icon|default({}) %}
{% set _icon_path = icon_path|default('') %}
{% set _position = position|default('') %}
{% set _classes = ['page-link'] %}

{% if attributes is empty %}
  {% set attributes = create_attribute() %}
{% endif %}

{% if _disabled %}
  {% set attributes = attributes.setAttribute('tabindex', '-1')
                                .setAttribute('aria-disabled', true) 
  %}
{% endif %}

{% if _icon is empty and _position is not empty %}
  {% if _enable_first_last_icon %}
    {% if _position == 'first' %}
      {% set _icon_name = 'chevron-double-left' %}
      {% set _icon_html = '&laquo;' %}
    {% elseif _position == 'last' %}
      {% set _icon_name = 'chevron-double-right' %}
      {% set _icon_html = '&raquo;' %}
    {% endif %}
  {% endif %}
  {% if _enable_prev_next_icon %}
    {% if _position == 'prev' %}
      {% set _icon_name = 'chevron-left' %}
      {% set _icon_html = '&lsaquo;' %}
    {% elseif _position == 'next' %}
      {% set _icon_name = 'chevron-right' %}
      {% set _icon_html = '&rsaquo;' %}
    {% endif %}
  {% endif %}
  {% if _icon_path is not empty and _icon_name is not empty %}
    {% set _label = '' %}
    {% set _icon = {
      name: _icon_name,
      size: "fluid",
      path: _icon_path
    } %}
  {% else %}
    {% if _icon_html is not empty %}
      {% set _label %}
        <span aria-hidden="true">{{ _icon_html|raw }}</span>
      {% endset %}
      {% set _icon = {} %}
    {% endif %}
  {% endif %}
{% elseif _icon is not empty and _icon.path is empty and _icon_path is not empty %}
  {% set _icon = _icon|merge({
    path: _icon_path
  }) %}
{% endif %}

{% if _aria_label is not empty %}
  {% set attributes = attributes.setAttribute('aria-label', _aria_label ) %}
{% endif %}

{% if _path is not empty %}
  {% set attributes = attributes.setAttribute('href', _path ) %}
{% endif %}

{% if _active %}
  {% set attributes = attributes.setAttribute('aria-current', 'page' ) %}
{% endif %}

{% set attributes = attributes.addClass(_classes) %}

{%- include '@oe-bcl/bcl-link/link.html.twig' with {
  label: _label,
  path: _path,
  icon: _icon.name ? _icon : {},
  attributes: attributes,
} only -%}

{% endapply %}
