{% extends '@oe-bcl/bcl-base-templates/content-type.html.twig' %}

{% block sidebar %}
  {% include '@oe-bcl/bcl-inpage-navigation/inpage-navigation.html.twig' with sidebar only %}
{% endblock %}

{% block content %}
  {% if authors is defined and authors is not empty %}
  <div class="bcl-section">
    {% include '@oe-bcl/bcl-heading/heading.html.twig' with {
      title: authors.title,
      title_tag: 'h2',
      attributes: create_attribute().setAttribute('id', authors.title_id),
    } only %}
    {% if authors.listing|length > 5 %}
      <p class="fs-5">{{ authors.listing|join('  •  ') }}</p>
    {% else %}
      <ul class="ps-4">
      {% for author in authors.listing %}
        <li class="ps-2 fs-5">{{- author -}}</li>
      {% endfor %}
      </ul>
    {% endif %}
  </div>
  {% endif %}

  {% if description is defined and description is not empty %}
    <div class="bcl-section">
      {% include '@oe-bcl/bcl-heading/heading.html.twig' with {
        title: description.title,
        title_tag: 'h2',
        attributes: create_attribute().setAttribute('id', description.title_id),
      } only %}
      {% for paragraph in description.paragraphs %}
        <p>{{- paragraph -}}</p>
      {% endfor %}
    </div>
  {% endif %}

  {% if file is not empty %}
    <div class="bcl-section">
      {% include '@oe-bcl/bcl-file/file.html.twig' with file only %}
    </div>
  {% endif %}

{% endblock %}
