{% spaceless %}

{% if data.header is defined %}
<header>
  {% include '@oe-bcl/bcl-header/header.html.twig' with data.header only %}
</header>
{% endif %}
<main>
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 col-md-10">
        {% include '@oe-bcl/bcl-card/card.html.twig' with data.user only %}
      </div>
      <div class="col-12 col-md-2 text-end">
        <div class="d-grid d-md-block">
          {% include '@oe-bcl/bcl-button/button.html.twig' with data.editButton only %}
        </div>
      </div>
    </div>
    <div class="my-3">
      <h4 class="fw-bold mb-4">Personal information</h4>
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="row">
            <div class="col-12 col-md-4">
              <p class="mb-0">Gender:</p>
            </div>
            <div class="col-12 col-md-8">
              <p>Male</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-4">
              <p class="mb-0">Nationality:</p>
            </div>
            <div class="col-12 col-md-8">
              <p>German</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-4">
              <p class="mb-0">Date of birth:</p>
            </div>
            <div class="col-12 col-md-8">
              <p>22/01/1972</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="row">
            <div class="col-12 col-md-4">
              <p class="mb-0">Country:</p>
            </div>
            <div class="col-12 col-md-8">
              <p>Germany</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-4">
              <p class="mb-0">City:</p>
            </div>
            <div class="col-12 col-md-8">
              <p>Düsseldorf</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="my-3">
      <h4 class="fw-bold mb-4">Professional information</h4>
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="row">
            <div class="col-12 col-md-4">
              <p class="mb-0">Organisation:</p>
            </div>
            <div class="col-12 col-md-8">
              <p>DG Test</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-4">
              <p class="mb-0">Position:</p>
            </div>
            <div class="col-12 col-md-8">
              <p>Director</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="row">
            <div class="col-12 col-md-4">
              <p class="mb-0">Working languages:</p>
            </div>
            <div class="col-12 col-md-8">
              <p>English, German</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endspaceless %}
