{% spaceless %}


{#
  Parameters:
  - title (heading object) (default: {})
  - items (array) (default: [])
    {
      title: (heading object),
      content: [
        description list object
      ]
    }
#}

{% set _title = title|default({}) %}
{% set _items = items|default([]) %}

{% if attributes is empty %}
  {% set attributes = create_attribute() %}
{% endif %}

{% if _title.attributes is empty %}
  {% set _title = _title|merge({
      attributes: create_attribute()
    })
  %}
{% endif %}

{% set _title = _title|merge({
    attributes: _title.attributes.addClass(['fw-bold', 'my-4-5'])
  })
%}

<div
  {{ attributes }}
>
{% if _title is not empty %}
  {% include '@oe-bcl/bcl-heading/heading.html.twig' with _title only %}
{% endif %}
{% if _items is defined and _items is not empty %}
  {% for _item in _items %}
    {% if _item.title is not empty %}
      {% if _item.title.attributes is empty %}
        {% set _item = _item|merge({
            title: _item.title|merge({
              attributes: create_attribute()
            }),
          })
        %}
      {% endif %}
      {% set _item = _item|merge({
          title: _item.title|merge({
            attributes: _item.title.attributes.addClass(['fw-bold', 'mb-3'])
          }),
        })
      %}
      {% include '@oe-bcl/bcl-heading/heading.html.twig' with _item.title only %}
    {% endif %}
    {% for _list in _item.content %}
      {% if _list.attributes is empty %}
        {% set _list = _list|merge({
          attributes: create_attribute()
        }) %}
      {% endif %}
      {% if not loop.last %}
        {% set _list = _list|merge({
            attributes: _list.attributes.addClass(['border-bottom', 'pb-3'])
          })
        %}
      {% endif %}
      {% include '@oe-bcl/bcl-description-list/description-list.html.twig' with _list only %}
    {% endfor %}
  {% endfor %}
{% endif %}
</div>

{% endspaceless %}
