{% spaceless %}


{#
  Parameters:
  - listing (array) (default: [])
    {
      title: '',
      title_id: '',
      content: '',
    }
#}

{% set _listing = listing|default([]) %}

{% if _listing is defined and _listing is not empty %}
  {% for _paragraph in _listing %}
    <h3
      class="fw-bold mb-4 pt-3"
      id="{{ _paragraph.title_id }}"
    >
      {{- _paragraph.title -}}
    </h3>
    {{- _paragraph.content -}}
  {% endfor %}
{% endif %}

{% endspaceless %}