{% extends '@oe-bcl/bcl-base-templates/content-type.html.twig' %}

{% block sidebar %}
  <div class="mb-4">
    {% include '@oe-bcl/bcl-heading/heading.html.twig' with {
      title: 'Vacancy details',
      title_tag: 'h2',
      attributes: create_attribute().addClass(['mb-4']),
    } only %}
    <div class="mt-3-5">
      {% for list in sidebar.lists %}
        <div class="mb-3-5">
          {% include '@oe-bcl/bcl-description-list/description-list.html.twig' with list only %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block content %}
  {% if description is defined and description is not empty %}
    {% set _description_rendered %}
      {% for paragraph in description.paragraphs %}
        <p>{{- paragraph -}}</p>
      {% endfor %}
    {% endset %}
    {% include '@oe-bcl/bcl-section/section.html.twig' with {
      title: description.title,
      id: description.title_id,
      content: _description_rendered,
    } only %}
  {% endif %}

  {% if files is not empty %}
    {% set _files_rendered %}
      {% for file in files %}
        <div class="mb-4">
          {% include '@oe-bcl/bcl-file/file.html.twig' with file only %}
        </div>
      {% endfor %}
    {% endset %}
    {% include '@oe-bcl/bcl-section/section.html.twig' with {
      title: files_title,
      content: _files_rendered,
    } only %}
  {% endif %}

  {% if social_block is not empty %}
    {% block social_block %}
      {% set _social_rendered %}
        {{ social_buttons }}
        {% include '@oe-bcl/bcl-button/button.html.twig' with button_social_modal only %}
        {% include '@oe-bcl/bcl-modal/modal.html.twig' with social_modal only %}
      {% endset %}
      {% include '@oe-bcl/bcl-section/section.html.twig' with {
        title: social.title,
        id: social.title_id,
        content: _social_rendered,
      } only %}
    {% endblock %}
  {% endif %}
{% endblock %}
