{% extends '@oe-bcl/bcl-base-templates/content-type.html.twig' %}

{% block sidebar %}
  {% include '@oe-bcl/bcl-heading/heading.html.twig' with {
    title: 'Vacancy details',
  } only %}
  {% for list in sidebar.lists %}
    <div class="mb-3-5">
      {% include '@oe-bcl/bcl-description-list/description-list.html.twig' with list only %}
    </div>
  {% endfor %}
{% endblock %}

{% block content %}
  {% if description is defined and description is not empty %}
    <div class="bcl-section">
      {% include '@oe-bcl/bcl-heading/heading.html.twig' with {
        title: description.title,
      } only %}
      {% for paragraph in description.paragraphs %}
        <p class="mb-3">{{- paragraph -}}</p>
      {% endfor %}
    </div>
  {% endif %}

  {% if files is not empty %}
    <div class="bcl-section">
      {% for file in files %}
        {% include '@oe-bcl/bcl-file/file.html.twig' with file only %}
      {% endfor %}
    </div>
  {% endif %}

  {% if social_block is not empty %}
    <div class="bcl-section">
      {% block social_block %}
        {% include '@oe-bcl/bcl-heading/heading.html.twig' with {
          title: social.title,
          attributes: create_attribute().setAttribute('id', social.title_id),
        } only %}
        {{ social_buttons }}
        {% include '@oe-bcl/bcl-button/button.html.twig' with button_social_modal only %}
        {% include '@oe-bcl/bcl-modal/modal.html.twig' with social_modal only %}
      {% endblock %}
    </div>
  {% endif %}
{% endblock %}
