{% spaceless %}

{# Parameters:
  - logo
    - src
    - width
    - height
  - navbar
  - login
    - link
      - label
      - href
      - target
    - modal
  - language
    - link
      - label
      - href
      - target
    - modal
#}

{# {% set _logo = {
  src: logo.src|default(''),
  width: logo.width|default(100),
  height: navbar.height|default(60)
} %} #}

{% set _navbar = navbar|default({}) %}
{% set _navbar_settings = navbar_settings|default({}) %}

{% set _login = {
  link: {
    label: login.link.label|default(''),
    href: login.link.href|default('#'),
    target: login.link.target|default(login.modal.id|default('')),
  },
  modal: login.modal|default({}),
} %}
{% set _language = {
  link: {
    label: language.link.label|default(''),
    href: language.link.href|default('#'),
    target: language.link.target|default(language.modal.id|default('')),
  },
  modal: language.modal|default({}),
} %}

<header>
  <!-- header -->
  <div class="container">
    <div class="oe-header">
      {% if _navbar_settings is not empty %}
        {% include '@oe-bcl/bcl-navbar/navbar.html.twig' with _navbar_settings only %}
      {% endif %}
    </div>
  </div>

  <!-- navbar -->
  {% if _navbar is not empty %}
    {% include '@oe-bcl/bcl-navbar/navbar.html.twig' with _navbar only %}
  {% endif %}
</header>

<!-- Modal - Login -->
{% include '@oe-bcl/bcl-modal/modal.html.twig' with _login.modal only %}

<!-- Modal - Language -->
{% include '@oe-bcl/bcl-modal/modal.html.twig' with _language.modal only %}

{% endspaceless %}
