{% apply spaceless %}

{# Parameters:
  - id (string) (default: '')
  - label (string) (default: '')
  - title (string) (default: '')
  - content (string) (default: '')
  - extra_class (string) (default: '')
#}

{% set _id = id|default('') %}
{% set _label = label|default('') %}
{% set _title = title|default('') %}
{% set _content = content|default('') %}
{% set _extra_class = extra_class|default('') %}

{% if attributes is empty %}
  {% set attributes = create_attribute() %}
{% endif %}

{% if _extra_class is not empty %}
  {% set attributes = attributes.addClass(_extra_class) %}
{% endif %}

{% if _id is not empty %}
  {% set attributes = attributes.setAttribute('id', _id) %}
{% endif %}

<li
  {{ attributes }}>
  <p class="fs-5 mb-1 fw-medium">{{ _label }}</p>
  {% if _title is not empty %}
  <p class="fs-6 mb-1 fw-medium">{{ _title }}</p>
  {% endif %}
  {% if _content is not empty %}
  <div>{{ _content }}</div>
  {% endif %}
</li>

{% endapply %}
