{% spaceless %}

{# Parameters:
  - variant: (string) (default: "gray")
    - options ["gray", "transparent"]
  - direction: (string) (default: "vertical")
    - options ["vertical", "horizontal"]
  - title: (string) (default: "")
  - links (array of objects) (default: []) format: [
    path: (string) (default: "#")
    label: (string) (default: "")
  ]
#}

{% set _variant = variant|default("gray") %}
{% set _direction = direction|default("vertical") %}
{% set _title = title|default("") %}
{% set _links = links|default([])%}

{% if attributes is empty %}
  {% set attributes = create_attribute() %}
{% endif %}

{% set _classes = [] %}
{% set _list_classes = ["list-unstyled"] %}

{% if _variant == "gray" %}
  {% set _classes = _classes|merge(["bg-light", "p-3"]) %}
{% endif %}

{% if _direction == "horizontal" %}
  {% set _list_classes = _list_classes|merge(["d-inline"]) %}
{% endif %}

{% set attributes = attributes.addClass(_classes) %}

<div 
  {{ attributes }}
>
  {% if _title is not empty %}
    <h5 class="fs-5 fw-bold pb-2 border-bottom">{{ _title }}</h5>
  {% endif %}
  {% if _links is not empty and _links is iterable %}
    <ul class="ps-0 mb-0">
      {% for _link in _links %}
        {% if loop.last == false %}
          {% set _list_classes = _list_classes|merge(["me-4"]) %}
        {% endif %}
        <li 
          {{ create_attribute().addClass(_list_classes) }}
        >
          {% include "@oe-bcl/bcl-link/link.html.twig" with {
            path: _link.path,
            label: _link.label,
            attributes: create_attribute().addClass(["pb-3", "d-inline-block"])
          } only %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>

{% endspaceless %}
