{% spaceless %}

{# Parameters:
  - background: (string) (default: "gray")
    - options ["gray", "transparent"]
  - variant: (string) (default: "vertical")
    - options ["vertical", "horizontal"]
  - title: (string) (default: "")
  - title_tag: (string) (default: "h2")
  - links (array of link objects) (default: [])
#}

{% set _background = background|default("gray") %}
{% set _variant = variant|default("vertical") %}
{% set _title = title|default("") %}
{% set _title_tag = title_tag|default("h2") %}
{% set _links = links|default([])%}

{% if attributes is empty %}
  {% set attributes = create_attribute() %}
{% endif %}

{% if _background == "gray" %}
  {% set attributes = attributes.addClass(["bg-light", "px-4", "py-3", "rounded-2"]) %}
{% endif %}

<div
  {{ attributes }}
>
  {% if _title is not empty %}
    {% include '@oe-bcl/bcl-heading/heading.html.twig' with {
      title: _title,
      title_tag: _title_tag,
      attributes: create_attribute().addClass(['fw-bold', 'pb-3', 'mb-3', 'border-bottom']),
    } only %}
  {% endif %}
  {% if _links is not empty and _links is iterable %}
    <ul class="ps-0 mb-0">
      {% for _link in _links %}
        {% if _link.attributes is empty %}
          {% set _link = _link|merge({
            attributes: create_attribute()
          }) %}
        {% endif %}
        {% set _link = _link|merge({
          clean_class: true,
          attributes: _link.attributes.addClass(["pb-3", "d-inline-block", "standalone"])
        }) %}
        {% set _list_item_classes = "list-unstyled" %}
        {% if _variant == "horizontal" %}
          {% set _list_item_classes = _list_item_classes ~ ' d-inline' %}
        {% endif %}
        {% if loop.last == false %}
          {% set _list_item_classes = _list_item_classes ~ ' me-4-5' %}
        {% endif %}
        <li class="{{ _list_item_classes }}">
          {% include "@oe-bcl/bcl-link/link.html.twig" with _link only %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>

{% endspaceless %}
