{% apply spaceless %}

{#
  Parameters:
  - title: (string) (default: '')
  - title_tag: (string) (default: 'h2')
  - title_link: (link object) (default: {})
  - title_attributes (drupal attrs)
  - bordered (boolean) (default: false)
  - horizontal_size (string) (default: '3-9')
    options: ['3-9', '4-8', '6-6', '8-4', '9-3']
  - items (array) (default: []): format: [
      {
        term (object or array of descriptionListTitle object)
        definition (object or array of descriptionListDetails object)
      },
      ...
    ]
  - variant (string) (default: '') 
    - option: ['horizontal']
#}

{% set _title = title|default('') %}
{% set _title_tag = title_tag|default('h2') %}
{% set _title_link = title_link|default({}) %}
{% set _bordered = bordered|default(false) %}
{% set _title_link = title_link|default({}) %}
{% set _title_attributes = title_attributes ?: create_attribute() %}
{% set _items = items|default([]) %}
{% set _horizontal_size = horizontal_size|default('3-9') %}
{% set _variant = variant|default('') %}

{% if attributes is empty %}
  {% set attributes = create_attribute() %}
{% endif %}

{% set _item_classes = 'mb-3' %}

{% if _bordered %}
  {% set _item_classes = 'border-bottom pb-2-5 mb-2-5' %}
{% endif %}

{% if _variant == 'horizontal' %}
  {% set _item_classes = _item_classes ~ ' list-grid' ~ ' grid-' ~ _horizontal_size %}
{% endif %}

{% if _title is not empty %}
  {% include '@oe-bcl/bcl-heading/heading.html.twig' with {
    title: _title,
    title_tag: _title_tag,
    title_link: _title_link,
    attributes: _title_attributes,
  } only %}
{% endif %}

{% set attributes = attributes.addClass(['bcl-description-list']) %}

<dl
  {{ attributes }}
>
  {% for _item in _items %}
  <div
    {% if _item_classes is not empty %}
      class="{{ _item_classes }}"
    {% endif %}
  >
  {% if _item.term is not empty %}
    {% if _item.term is iterable %}
      {% for _term in _item.term %}
        {%- include '@oe-bcl/bcl-description-list/description-list-title.html.twig' with _term only -%}
      {% endfor %}
    {% else %}
        {%- include '@oe-bcl/bcl-description-list/description-list-title.html.twig' with _item.term only -%}
    {% endif %}
  {% endif %}
  {% if _item.definition is not empty %}
    {% if _item.definition is iterable %}
      {% for _definition in _item.definition %}
        {%- include '@oe-bcl/bcl-description-list/description-list-details.html.twig' with _definition only -%}
      {% endfor %}
    {% else %}
      {%- include '@oe-bcl/bcl-description-list/description-list-details.html.twig' with _item.definition only -%}
    {% endif %}
  {% endif %}
  </div>
  {% endfor %}
</dl>

{% endapply %}
