{% apply spaceless %}

{#
  Parameters:
  - title: (string) (default: '')
  - title_tag: (string) (default: 'h2')
  - title_link: (link object) (default: {})
  - title_attributes (drupal attrs)
  - bordered (boolean) (default: '')
  - col_size (int) (default: '')
    options: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
  - items (array) (default: []): format: [
      {
        term (object or array of descriptionListTitle object)
        definition (object or array of descriptionListDetails object)
      },
      ...
    ]
  - variant (string) (default: '') 
    - option: ['horizontal']
#}

{% set _title = title|default('') %}
{% set _title_tag = title_tag|default('h2') %}
{% set _title_link = title_link|default({}) %}
{% set _bordered = bordered|default(false) %}
{% set _title_link = title_link|default({}) %}
{% set _title_attributes = title_attributes ?: create_attribute() %}
{% set _items = items|default([]) %}
{% set _col_size = col_size|default('') %}
{% set _variant = variant|default('') %}

{% set _classes = ['bcl-description-list'] %}

{% if attributes is empty %}
  {% set attributes = create_attribute() %}
{% endif %}

{% set _item_classes = 'mb-3' %}
{% set _col_classes = 'col' %}

{% if _bordered %}
  {% set _item_classes = 'border-bottom pb-2-5 mb-2-5' %}
{% endif %}

{% if _col_size is not empty %}
  {% set _col_classes = _col_classes ~ '-' ~ _col_size %}
{% endif %}

{% if _title is not empty %}
  {% include '@oe-bcl/bcl-heading/heading.html.twig' with {
    title: _title,
    title_tag: _title_tag,
    title_link: _title_link,
    attributes: _title_attributes,
  } only %}
{% endif %}

{% set attributes = attributes.addClass(_classes) %}

<div
  {{ attributes }}
>
  {% if _variant != 'horizontal' %}
  <dl>
  {% endif %}
  {% for _item in _items %}
    {% if loop.last %}
      {% set _item_classes = '' %}
    {% endif %}
    <div
    {% if _item_classes is not empty %}
      class="{{ _item_classes }}"
    {% endif %}
    >
    {% if _variant == 'horizontal' %}
    <dl class="row mb-0">
    {% endif %}
    {% if _item.term is not empty %}
      {% if _variant == 'horizontal' %}
        <div class="{{ _col_classes }}">
      {% endif %}

      {% if _item.term is iterable %}
        {% for _term in _item.term %}
          {%- include '@oe-bcl/bcl-description-list/description-list-title.html.twig' with _term only -%}
        {% endfor %}
      {% else %}
          {%- include '@oe-bcl/bcl-description-list/description-list-title.html.twig' with _item.term only -%}
      {% endif %}

      {% if _variant == 'horizontal' %}
        </div>
      {% endif %}
    {% endif %}
    {% if _item.definition is not empty %}
      {% if _variant == 'horizontal' %}
        <div class="col">
      {% endif %}

      {% if _item.definition is iterable %}
        {% for _definition in _item.definition %}
          {%- include '@oe-bcl/bcl-description-list/description-list-details.html.twig' with _definition only -%}
        {% endfor %}
      {% else %}
        {%- include '@oe-bcl/bcl-description-list/description-list-details.html.twig' with _item.definition only -%}
      {% endif %}

      {% if _variant == 'horizontal' %}
        </div>
      {% endif %}
    {% endif %}
    </div>
    {% if _variant == 'horizontal' %}
    </dl>
    {% endif %}
  {% endfor %}
  {% if _variant != 'horizontal' %}
  </dl>
  {% endif %}
</div>

{% endapply %}
