// Override Bootstrap's Sass default variables for UCPKN

// General

$primary: #221684;
$secondary: #f25924;
$success: #3c8f38;
$danger: #b8282a;
$warning: #e1ab00;
$info: #2b768a;
$light: #f0f0f0;
$dark: #2e3338;
$primary-a30: rgba($primary, 0.3);

$theme-colors: map-merge(
  $theme-colors,
  (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "danger": $danger,
    "warning": $warning,
    "info": $info,
    "light": $light,
    "dark": $dark,
  )
);
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");

$link-color: $primary;

// Typography

$font-family-sans-serif: "Arial", sans-serif;
$font-family-base: "Arial", sans-serif;
