// Override Bootstrap's Sass default variables for Joinup

// General

$primary: #221684;
$secondary: #f25924;
$success: #28a745;
$danger: #d72e3d;
$warning: #ffc107;
$info: #1698af;
$light: #f0f0f0;
$dark: #2e3338;
$primary-a30: #2216844d;

$theme-colors: map-merge(
  $theme-colors,
  (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "danger": $danger,
    "warning": $warning,
    "info": $info,
    "light": $light,
    "dark": $dark,
  )
);
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");

$link-color: $primary;

// Typography

$font-family-sans-serif: "Arial", sans-serif;
$font-family-base: "Arial", sans-serif;
