{#
  Parameters:
  - banner (object) (default: {})
#}

{% extends "@oe-bcl/bcl-base-templates/content-type.html.twig" %}

{% block banner %}
  {% set banner_attributes = banner.attributes ?: create_attribute() %}
  {% set banner_attributes = banner_attributes.addClass(['bg-transparent', 'border-0']) %}
  <div class="vw-100 py-md-4-75 py-4 bg-light">
    <div class="container">
      {% include '@oe-bcl/bcl-card/card.html.twig' with banner|merge({
        attributes: banner_attributes,
      }) only %}
    </div>
  </div>
{% endblock %}
