@import "@oe/bootstrap/scss/functions"; // Required
@import "@oe/bootstrap/scss/variables"; // Required
@import "@oe/bootstrap/scss/mixins"; // Required
@import "@oe/bootstrap/scss/containers";

// Custom variables
$primary: #004494;
$secondary: #ffd617;
$font-family-sans-serif: arial,sans-serif;

@import "@oe/bootstrap/scss/root";
@import "@oe/bootstrap/scss/reboot"; // Required
@import "@oe/bootstrap/scss/type";
// @import "@oe/bootstrap/scss/images";
// @import "@oe/bootstrap/scss/code";
@import "@oe/bootstrap/scss/grid";
// @import "@oe/bootstrap/scss/tables";
// @import "@oe/bootstrap/scss/forms";
@import "@oe/bootstrap/scss/buttons";
@import "@oe/bootstrap/scss/transitions";
@import "@oe/bootstrap/scss/dropdown";
// @import "@oe/bootstrap/scss/button-group";
// @import "@oe/bootstrap/scss/input-group"; // Requires forms
// @import "@oe/bootstrap/scss/custom-forms";
@import "@oe/bootstrap/scss/nav";
@import "@oe/bootstrap/scss/navbar"; // Requires nav
// @import "@oe/bootstrap/scss/card";
// @import "@oe/bootstrap/scss/breadcrumb";
// @import "@oe/bootstrap/scss/pagination";
@import "@oe/bootstrap/scss/badge";
// @import "@oe/bootstrap/scss/jumbotron";
@import "@oe/bootstrap/scss/alert";
// @import "@oe/bootstrap/scss/progress";
// @import "@oe/bootstrap/scss/media";
// @import "@oe/bootstrap/scss/list-group";
@import "@oe/bootstrap/scss/close";
// @import "@oe/bootstrap/scss/toasts";
@import "@oe/bootstrap/scss/modal"; // Requires transitions
// @import "@oe/bootstrap/scss/tooltip";
// @import "@oe/bootstrap/scss/popover";
// @import "@oe/bootstrap/scss/carousel";
// @import "@oe/bootstrap/scss/spinners";
@import "@oe/bootstrap/scss/utilities";
@import "@oe/bootstrap/scss/utilities/api";
// @import "@oe/bootstrap/scss/print";

@import "@oe/button/scss";

// TODO: use @use instead (see below)
$header-margin: 1.5rem .5rem;
$menu-background: $primary;
$menu-color: #fff;
$menu-color-hover: #fff;
$menu-background-active: #003776;
$menu-color-active: #fff;
$language-background: $primary;
$language-color: #fff;
$language-list-gap: map-get($spacers, 2);
$language-item-background: #fff;
$language-item-color: $primary;
$language-item-background-hover: $secondary;
$language-item-color-hover: $dark;
@import "@oe/navbar/navbar";

/* @use "@oe/navbar/navbar" with (
  $header-margin: 1.5rem .5rem,
  $menu-background: $primary,
  $menu-color: #fff,
  $menu-color-hover: #fff,
  $menu-background-active: #003776,
  $menu-color-active: #fff,
  $language-background: $primary,
  $language-color: #fff,
  $language-list-gap: map-get($spacers, 2),
  $language-item-background: #fff,
  $language-item-color: $primary,
  $language-item-background-hover: $secondary,
  $language-item-color-hover: $dark,
); */

//
// Custom styles
//

// navbar
.oe-navbar-header {
  align-items: flex-end;
}

// menu
@media (min-width: 992px) {
  .oe-menu .nav-link.active {
    padding-top: $spacer;
    padding-bottom: $spacer;
    margin-top: -#{map-get($spacers, 2)};
    margin-bottom: -#{map-get($spacers, 2)};
  }
}

// language list
.oe-language .modal-body {
  padding-top: map-get($spacers, 5);
  padding-bottom: map-get($spacers, 5);
}

.oe-language__title {
  margin-bottom: map-get($spacers, 4);
}

.oe-language__list {
  margin-bottom: map-get($spacers, 4);
}

.oe-language__item {
  padding: map-get($spacers, 2) $spacer;
  font-weight: $font-weight-bold;
  text-decoration: none; //should be handled at link level

  &:hover,
  &:focus {
    text-decoration: underline; //should be handled at link level
  }
}

// Style Bootstrap icons
.bi {
  fill: currentColor;
}
