{% apply spaceless %}

{# Parameters:
  - icons: (icon[]) (default: [])
  - path (string) (default: '')
#}

{%- set _icons = icons|default([]) %}
{% set _path = path|default('') %}

{%- if _icons is not empty and _icons is iterable -%}
  <div class="px-4">
    <div class="row">
      {% for _icon in _icons -%}
        <div class="px-3 my-5 col">
        {% set _icon_object = {
          name: _icon,
          path: _path,
          attributes: create_attribute().addClass(['mx-auto', 'd-block', 'mb-3']),
          size: '2xl'
        } %}
        {%- include '@oe-bcl/bcl-icon/icon.html.twig' with _icon_object only -%}
        <p class="text-center text-nowrap">{{ _icon }}</p>
        </div>
      {% endfor -%}
    </div>
  </div>
{% endif %}

{% endapply %}
