{% spaceless %}

{# Parameters:
  - type (string) (default: 'border')
    - options ['border', 'grow']
  - variant (string) (default: '')
  - small (boolean) (default: false)
  - assistive_text (string) (default: '')
#}

{% set _type = type|default('border') %}
{% set _variant = variant|default('') %}
{% set _small = small|default(false) %}
{% set _assistive_text = assistive_text|default('') %}
{% set _classes = ['spinner-' ~ _type] %}
{% if _small %}
  {% set _classes = _classes|merge(['spinner-' ~ _type ~ '-sm']) %}
{% endif %}
{% if _variant is not empty %}
  {% set _classes = _classes|merge(['text-' ~ _variant]) %}
{% endif %}

{% set attributes = attributes
                    .addClass(_classes)
                    .setAttribute('role', 'status')
%}

<div
  {{ attributes }}
>
{% if _assistive_text is not empty %}
  <span class="visually-hidden">{{ _assistive_text }}</span>
{% endif %}
</div>

{% endspaceless %}
