{% spaceless %}

{# Parameters:
  - links (array of objects of type link)
#}

{% set _classes = ['breadcrumb'] %}
{% set _links = links|default([]) %}

{% set attributes = attributes.setAttribute('aria-label', 'breadcrumb') %}

{% if _links is not empty %}
<nav
  {{ attributes }}
>
  <ol
    class="{{ _classes }}"
  >
    {% for _link in _links %}
      {% if _link.path %}
        <li class="breadcrumb-item">
          {% include '@oe-bcl/link/link.html.twig' with _link only %}
        </li>
      {% else %}
        <li class="breadcrumb-item active" aria-current="page">
          {{- _link.label -}}
        </li>
      {% endif %}
    {% endfor %}
  </ol>
</nav>
{% endif %}

{% endspaceless %}
