// Colors
$primary: #004494;
$secondary: #ffd617;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
);

// Fonts
$font-family-sans-serif: arial, sans-serif;

// Buttons
$btn-border-radius: 0;
$btn-border-radius-sm: 0;
$btn-border-radius-lg: 0;

// Navbar
$navbar-dark-color: #fff;
$navbar-dark-hover-color: #fff;
$navbar-dark-active-color: #fff;

// Modals
$modal-content-border-radius: 0;
