{% spaceless %}

{# Parameters:
  - title: (string) (default: "")
  - title_tag: (string) (default: "h3")
  - title_link: (link object) (default: {})
  - title_attributes (drupal attrs)
  - placement (string) (default: '') (start, end, top, bottom)
  - id (string) (default: '')
  - body (string) (default: '')
  - with_body_scroll (boolean) (default: false)
  - with_backdrop (boolean) (default: true)
  - with_close (boolean) (default: true)
  - extra_classes_body (string) (default: '')
  - extra_classes_header (string) (default: '')
  - extra_classes_close (string) (default: '')
#}

{% set _title = title|default('') %}
{% set _title_tag = title_tag|default('h3') %}
{% set _title_link = title_link|default({}) %}
{% set _title_attributes = title_attributes ?: create_attribute() %}
{% set _body = body|default('') %}
{% set _with_close = with_close ?? true %}
{% set _with_backdrop = with_backdrop ?? true %}
{% set _with_body_scroll = with_body_scroll|default(false) %}
{% set _id = id|default('') %}
{% set _placement = placement|default('') %}
{% set _extra_classes_body = extra_classes_body|default('') %}
{% set _extra_classes_header = extra_classes_header|default('') %}
{% set _extra_classes_close = extra_classes_close|default('') %}

{% set _classes = ['offcanvas'] %}
{% set _class_body = 'offcanvas-body' ~ (_extra_classes_body ? ' ' ~ _extra_classes_body : '') %}
{% set _class_header = 'offcanvas-header' ~ (_extra_classes_header ? ' ' ~ _extra_classes_header : '') %}

{% if _placement is not empty %}
 {% set _classes = _classes|merge(['offcanvas-' ~ _placement]) %}
{% endif %}

{% if _title is not empty %}
  {% set _aria_labelled = _title.id|default('') %}
{% endif %}

{% if attributes is empty %}
  {% set attributes = create_attribute() %}
{% endif %}

{% if _aria_labelled is defined and _aria_labelled is not empty %}
  {% set attributes = attributes.setAttribute('aria-labelledby', _aria_labelled) %}
{% endif %}

{% if _id is not empty %}
 {% set attributes = attributes.setAttribute('id', _id) %}
{% endif %}

{% if _with_body_scroll %}
 {% set attributes = attributes.setAttribute('data-bs-scroll', true) %}
{% endif %}

{% if not _with_backdrop %}
 {% set attributes = attributes.setAttribute('data-bs-backdrop', false) %}
{% endif %}

{% set attributes = attributes.setAttribute('tabindex', '-1').addClass(_classes) %}

<div
  {{ attributes }}
>
{% if _with_close or
  (_title.label is defined and _title.label is not empty)
%}
  <div class="{{ _class_header }}">
  {% if _title is not empty %}
    {% include '@oe-bcl/bcl-heading/heading.html.twig' with {
      title: _title,
      title_tag: _title_tag,
      title_link: _title_link,
      attributes: _title_attributes.addClass(['offcanvas-title']),
    } only %}
  {% endif %}
  {% if _with_close %}
    {% set button_attributes = create_attribute()
                              .addClass(['btn-close', 'text-reset'])
                              .setAttribute('data-bs-dismiss', 'offcanvas')
    %}
    {% if _extra_classes_close is not empty %}
      {% set button_attributes = button_attributes.addClass(_extra_classes_close) %}
    {% endif %}
    {%- include '@oe-bcl/bcl-button/button.html.twig' with {
        attributes: button_attributes,
        clean_class: true
      } only -%}
  {% endif %}
  </div>
{% endif %}
{%- if _body is not empty -%}
  <div class="{{ _class_body }}">
{%- endif -%}
  {%- block body -%}
    {{ _body }}
  {%- endblock -%}
{%- if _body is not empty -%}
  </div>
{%- endif -%}
</div>

{% endspaceless %}
