{% spaceless %}
<header class="ju-navbar ju-navbar--anonymous">
  <nav class="navbar navbar-expand-md">
    <div class="container">
      <a class="navbar-brand" href="/example.html">
        <img src="/src/themes/joinup/images/logo.svg" alt="JoinUp logo" />
      </a>
      <span class="navbar-claim">Interoperability solutions</span>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbar"
        aria-controls="navbar"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav nav-pills">
          <li class="nav-item">
            <a class="nav-link" href="#about-us">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#sign-in">Sign in</a>
          </li>
          <li class="nav-item accordion" id="accordion-anonymous">
            <div class="accordion-item">
              <span class="accordion-header" id="heading-anonymous">
                <button
                  id="cta-anonymous"
                  class="accordion-button nav-link ju-navbar__cta"
                  data-bs-toggle="collapse"
                  autocomplete="off"
                  data-bs-target="#getStarted"
                  aria-controls="getStarted"
                  aria-expanded="false"
                  type="button"
                >
                  Get started
                </button>
              </span>
              <div 
                class="accordion-collapse collapse ju-navbar__accordion" 
                id="getStarted"
                aria-labelledby="heading-anonymous"
                data-bs-parent="#accordion-anonymous"
                >
                <div class="accordion-body">
                  <p class="ju-navbar__accordion-title">
                    Create an account
                  </p>
                  <p class="ju-navbar__accordion-text">
                    As a signed-in user you can create content, become a member of a community, receive notifications on your favourite solutions and topics, and access all other features available on the platform.
                  </p>
                  <p class="ju-navbar__accordion-cta">
                    <a class="ju-navbar__accordion-cta-link" href="#">About EU Login<svg class="bi"><use xlink:href="static/media/bootstrap/bootstrap-icons.svg#arrow-right-short"></use></svg></a>
                  </p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
{% endspaceless %}