{% spaceless %}
<header class="ju-navbar ju-navbar--logged-in">
  <nav class="navbar navbar-expand">
    <div class="container">
      <a class="navbar-brand" href="/example.html">
        <img src="/src/themes/joinup/images/logo.svg" alt="JoinUp logo" />
      </a>
      <span class="navbar-claim">Interoperability solutions</span>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav accordion accordion-flush" id="accordion-1">
          <li class="nav-item accordion-item">
            <span class="accordion-header" id="heading-notifications">
              <button
                class="ju-navbar__icon accordion-button collapsed"
                data-bs-toggle="collapse"
                autocomplete="off"
                data-bs-target="#collapse-notifications"
                aria-controls="collapse-notifications"
                aria-expanded="false"
                type="button"
              >
                <svg class="bi" width="24" height="24" fill="currentColor">
                  <use xlink:href="static/media/bootstrap/bootstrap-icons.svg#bell-fill"/>
                </svg>
                <!-- Unread notifications counter, to be removed from the DOM if there are not unread notifications -->
                <span class="ju-navbar__icon-counter">2</span>
              </button>
            </span>
            <div 
              id="collapse-notifications"
              class="ju-navbar__accordion accordion-collapse collapse"
              aria-labelledby="heading-notifications"
              data-bs-parent="#accordion-1"
              >
              <div class="accordion-body">
                <a href="#" class="ju-navbar__accordion-mark">
                  Mark all as read
                </a>
                <ul class="ju-navbar__accordion-list">
                  <li class="ju-navbar__accordion-list-item ju-navbar__accordion-list-item--unread">
                    <a href="#" class="ju-navbar__accordion-list-link">
                      <article class="ju-navbar__accordion-list-notif">
                        <p class="ju-navbar__accordion-list-notif-title">Title of the notification</p>
                        <p class="ju-navbar__accordion-list-notif-text">Lorem ipsum dolor sit amet, consectet eusia adipiscing elit. Aenean euismod...</p>
                        <p class="ju-navbar__accordion-list-notif-date">2d ago</p>
                      </article>
                    </a>
                  </li>
                  <li class="ju-navbar__accordion-list-item ju-navbar__accordion-list-item--unread">
                    <a href="#" class="ju-navbar__accordion-list-link">
                      <article class="ju-navbar__accordion-list-notif">
                        <p class="ju-navbar__accordion-list-notif-title">Title of the notification</p>
                        <p class="ju-navbar__accordion-list-notif-text">Lorem ipsum dolor sit amet, consectet eusia adipiscing elit. Aenean euismod...</p>
                        <p class="ju-navbar__accordion-list-notif-date">2d ago</p>
                      </article>
                    </a>
                  </li>
                  <li class="ju-navbar__accordion-list-item">
                    <a href="#" class="ju-navbar__accordion-list-link">
                      <article class="ju-navbar__accordion-list-notif">
                        <p class="ju-navbar__accordion-list-notif-title">Title of the notification</p>
                        <p class="ju-navbar__accordion-list-notif-text">Lorem ipsum dolor sit amet, consectet eusia adipiscing elit. Aenean euismod...</p>
                        <p class="ju-navbar__accordion-list-notif-date">2d ago</p>
                      </article>
                    </a>
                  </li>
                </ul>
                <a class="ju-navbar__accordion-all" href="#">Show all<svg class="bi"><use xlink:href="static/media/bootstrap/bootstrap-icons.svg#arrow-right-short"></use></svg></a>
              </div>
            </div>
          </li>
          <li class="nav-item accordion-item">
            <span class="accordion-header" id="heading-account">
              <button
                class="ju-navbar__icon accordion-button collapsed"
                  data-bs-toggle="collapse"
                  autocomplete="off"
                  data-bs-target="#collapse-account"
                  aria-controls="collapse-account"
                  aria-expanded="false"
                  type="button"
              >
                <svg class="bi" width="24" height="24" fill="currentColor">
                  <use xlink:href="static/media/bootstrap/bootstrap-icons.svg#person-circle"/>
                </svg>
                <span class="ju-navbar__icon-text">Logged in</span>
              </button>
            </span>            
            <div 
              id="collapse-account"
              class="ju-navbar__accordion accordion-collapse collapse"
              aria-labelledby="heading-account"
              data-bs-parent="#accordion-1"
              >
              <div class="accordion-body">
                <ul class="ju-navbar__accordion-list">
                  <li class="ju-navbar__accordion-list-item">
                    <a href="#" class="ju-navbar__accordion-list-link">
                      My created content
                    </a>
                  </li>
                  <li class="ju-navbar__accordion-list-item">
                    <a href="#" class="ju-navbar__accordion-list-link">
                      My favourite topics
                    </a>
                  </li>
                  <li class="ju-navbar__accordion-list-item">
                    <a href="#" class="ju-navbar__accordion-list-link">
                      My subscriptions
                    </a>
                  </li>
                  <li class="ju-navbar__accordion-list-item"><hr class="dropdown-divider" /></li>
                  <li class="ju-navbar__accordion-list-item">
                    <a href="#" class="ju-navbar__accordion-list-link">
                      My profile
                    </a>
                  </li>
                  <li class="ju-navbar__accordion-list-item"><hr class="dropdown-divider" /></li>
                  <li class="ju-navbar__accordion-list-item">
                    <a href="#" class="ju-navbar__accordion-list-link">
                      Log out
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
{% endspaceless %}