{% spaceless %}

{#
  Parameters:
    - "variant" (string) (default: '')
    - "day" (integer) (default: '')
    - "month" (string) (default: '')
    - "date_time" (string) (default: '')
    - "year" (integer) (default: '')
#}

{% set _month = month|default('') %}
{% set _day = day|default('') %}
{% set _year = year|default('') %}
{% set _date_time = date_time|default('') %}
{% set _variant = variant|default('') %}
{% set _css_classes = [
  'bcl-date-block',
  'd-flex',
  'flex-column',
  'align-items-center',
  'justify-content-center',
  'bg-date',
  'text-light',
  'pt-2',
  'rounded-top',
  'mw-date',
] %}

{% if attributes is empty %}
  {% set attributes = create_attribute() %}
{% endif %}

{% set attributes = attributes.addClass(_css_classes) %}

{% if _date_time is not empty %}
  {% set attributes = attributes.setAttribute('datetime', _date_time) %}
{% endif %}

<time {{ attributes }}>
  <span class="py-4 bg-white border border-bottom-0 w-100 fs-5 fw-medium text-dark text-center text-uppercase">{{ _day }} {{ _month }}</span>
  <span class="bg-lighter border w-100 text-center fs-5 text-dark rounded-bottom mb-n1">{{ _year }}</span>
</time>

{% endspaceless %}
