// Color schema - Background

@mixin generate-background($color, $value) {
  &.bg-default {
    // Accordion
    $accordion-button-active-bg: tint-color($value, 90%);
    --#{$prefix}accordion-bg: #{$value};
    --#{$prefix}accordion-active-bg: #{$accordion-button-active-bg};

    // Card
    .card {
      --#{$prefix}card-bg: transparent;
    }

    &:not(header) {
      background: $value !important;
    }
    .bcl-header__navbar {
      background: $value !important;
    }
  }
}
