// Color schema - utilities

@each $schema_name, $schema_array in $colors-schemas {
  .#{$schema_name} {
    $color-rgb: to-rgb($value);
    .text-bg-#{$color} {
      color: color-contrast($value)
        if($enable-important-utilities, !important, null);
      background-color: RGBA($color-rgb, var(--#{$prefix}bg-opacity, 1))
        if($enable-important-utilities, !important, null);
    }

    .bg-#{$color} {
      --bs-bg-opacity: 1;
      background-color: rgba(
        var(--bs-#{$color}-rgb),
        var(--bs-bg-opacity)
      ) !important;
    }
  }
}
