{% extends "@oe-bcl/bcl-modal/modal.html.twig" %}

{# Parameters:
  - form: (form object) (default: {})
  - success_alert: (alert object) (default: {})
  - error_alert: (alert Object) (default: {})

  Blocks:
  - body
  - messages
#}

{% set _form = form|default({}) %}

{% block body %}
  <p>By subscribing to the updates of [the title of the page/content], you will be notified whenever changes are made.</p>
  <div class="row">
    <div class="col-lg-7">
      {% include '@oe-bcl/bcl-form/form.html.twig' with _form only %}
    </div>
  </div>
{% endblock %}
