{% extends "@oe-bcl/bcl-modal/modal.html.twig" %}

{# Parameters:
  - form: (form object) (default: {})
  - success_alert: (alert object) (default: {})
  - error_alert: (alert Object) (default: {})

  Blocks:
  - body
  - messages
#}

{% set _form = form|default({}) %}

{% block body %}
  <p class="mb-4">By subscribing to the updates of [the title of the page/content], you will be notified whenever changes are made.</p>
  {% include '@oe-bcl/bcl-form/form.html.twig' with _form only %}
{% endblock %}
