{% extends "@oe-bcl/bcl-navigation/navigation.html.twig" %}

{% block contents %}
  <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <div class="row">
      <div class="offset-3 col-6 offset-lg-0 col-lg-2 mt-5">
        <img src="https://picsum.photos/seed/1002/400/400" class="img-fluid" alt="profile-image">
        <div class="mt-3 d-grid">
          {% include '@oe-bcl/bcl-form-input/form-input.html.twig' with imageUploadInput only %}
          {% include '@oe-bcl/bcl-button/button.html.twig' with removeImageButton only %}
        </div>
      </div>
      <div class="col-12 col-lg-10">
        <div class="float-end d-none d-lg-block mt-5">
          {% include '@oe-bcl/bcl-link/link.html.twig' with profileBack only %}
        </div>
        <h3 class="fw-bold mt-5 mb-4">Profile information</h3>
        {% include '@oe-bcl/bcl-form/form.html.twig' with profileInformation only %}
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="privacy" role="tabpanel" aria-labelledby="privacy-tab">
    <div class="float-end d-none d-lg-block">
      {% include '@oe-bcl/bcl-link/link.html.twig' with profileBack only %}
    </div>
    <h3 class="fw-bold mt-5 mb-4">Privacy settings</h3>
    {% include '@oe-bcl/bcl-form/form.html.twig' with privacySettings only %}
    <h3 class="fw-bold mt-5 mb-4">Public profile contents</h3>
    <p class="mb-0">Select what information should be displayed to your profile.</p>
    <p class="mb-4">Only people who have access to your data will be able to consult these informations.</p>
    {% include '@oe-bcl/bcl-form/form.html.twig' with publicProfileContent only %}
    <h3 class="fw-bold mt-5 mb-4">Delete account</h3>
    <p class="mb-0">Account deletion is permanent and cannot be undone.</p>
    <p>If you delete your account, all content created by you (comments, articles, ...) will be anonymized.</p>
    {% include '@oe-bcl/bcl-form/form.html.twig' with deleteAccount only %}
  </div>
  
{% endblock %}
