{% extends "@oe-bcl/bcl-navigation/navigation.html.twig" %}

{% block contents %}
  <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <div class="row">
      <div class="col-2">
        <img src="https://picsum.photos/seed/1002/600/400" alt="profile-image">
        <label class="btn btn-primary" for="my-file-selector">
            <input id="my-file-selector" type="file" class="d-none">
            Button Text Here
        </label>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="privacy" role="tabpanel" aria-labelledby="privacy-tab">
    asd privacy
  </div>
  
{% endblock %}
