{% spaceless %}

<header>
  {% include '@oe-bcl/bcl-navbar/navbar.html.twig' with data.navbar only %}
</header>
<main>
  <div class="container mt-5">
    <h2 class="fw-bold mb-3 mb-md-5 d-inline-block">Edit my profile</h2>
    <div class="mb-4 float-lg-end">
      {% include '@oe-bcl/bcl-link/link.html.twig' with data.navigation.profileBack only %}
    </div>
    {% include '@oe-bcl/bcl-user-edit/edit-contents.html.twig' with data.navigation only %}
  </div>
</main>

{% endspaceless %}
