// stylelint-disable indentation

$utilities: map-merge(
  $utilities,
  (
    "font-weight": map-merge(
        map-get($utilities, "font-weight"),
        (
          values: map-merge(
              map-get(map-get($utilities, "font-weight"), "values"),
              (
                md: $font-weight-medium,
                // Create fw-medium utility class
              )
            ),
        )
      ),
    "font-size": map-merge(
        map-get($utilities, "font-size"),
        (
          values: map-merge(
              map-get(map-get($utilities, "font-size"), "values"),
              (
                sm: $font-size-sm,
                // Create fs-sm utility class
                xs: $font-size-xs,
                // Create fs-xs utility class
              )
            ),
        )
      ),
  )
);
