// Color system
$brand: #1073de;
$primary: #143b76;

$theme-colors: (
  "brand": $brand,
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "warning": $warning,
  "danger": $danger,
);

$gray-100: #fafbfc;
$gray-200: #f5f6f7;
$gray-300: #dadee0;
$gray-400: #a2a8ab;
$gray-500: #858a8c;
$gray-600: #6d7173;
$gray-700: #555859;
$gray-800: #3d3f40;
$gray-900: #242626;

// Links
$link-color: $brand;
$link-decoration: none;
$link-hover-decoration: underline;

// Adding a new font weight medium
$font-weight-medium: 500;
