{% spaceless %}

{# Parameters:
  - variant: (string) (default: "horizontal") options:
  [ default-1-col, highlight-1-col, default-2-col, default-3-col, highlight-2-col, highlight-3-col ]
  - title: (string) (default: "")
  - title_tag: (string) (default: "h4")
  - items: (array of objects of type card)
  - link: (object of type link)
  - alignment: (string) (default: '') options:
  ['start', 'end', 'center', 'baseline', 'stretch']
#}

{% set _items = items|default([]) %}
{% set _variant = variant|default('default-1-col') %}
{% set _title = title|default('') %}
{% set _alignment = alignment|default('') %}
{% set _title_tag = title_tag|default('h4') %}
{% set _link = link|default({}) %}
{% set _classes = ['bcl-listing', 'bcl-listing--' ~ _variant] %}
{% set _cards = [] %}
{% set _card_layout = {
  type: 'grid',
  responsiveness: 'md',
  gutter: '2',
  attributes: create_attribute().addClass(['gy-4']),
} %}
{% set attributes = attributes.addClass(_classes) %}

<div {{ attributes }}>

{% if _title is not empty %}
  <{{ _title_tag }} class="fw-bold mb-4">
    {{ _title }}
  </{{ _title_tag }}>
{% endif %}

{% if _items is not empty %}
  {% for _card in _items %}
    {% set _max_width = '' %}
    {% set _image = {} %}
    {% if _card.image is not empty %}
      {% set _max_width = 'mw-listing-img' %}
      {% set _image_classes = _card.image.classes ? _card.image.classes ~ " mb-3" : "mb-3" %}
      {% set _card = _card|merge({image: _card.image|merge({
        classes: _image_classes
      })}) %}
    {% elseif _card.date is not empty %}
      {% set _max_width = 'mw-date' %}
    {% endif %}
    {% if _alignment is not empty %}
      {% set _alignment = ' align-self-' ~ _alignment %}
    {% endif %}
    {% set _card_classes = [] %}
    {% set _card_attributes = card.attributes ? card.attributes : create_attribute() %}

    {% if _variant == 'default-1-col' %}
      {% set _card_classes = [
        'listing-item',
        'border-bottom',
        'border-md-0',
        'border-0',
      ] %}
      {% set _card_attributes = _card_attributes.addClass(_card_classes) %}
      {% set _card = _card|merge({
        horizontal: true,
        extra_classes_body: 'p-0 pb-md-0 pb-3',
        horizontal_grid: {
          left_col_classes: 'col-md-3 col-lg-2 rounded ' ~ _max_width ~ _alignment,
          right_col_classes: 'col-md-9 col-lg-10' ~ _alignment,
        },
        attributes: _card_attributes,
      }) %}
    {% endif %}

    {% if _variant == 'default-2-col' or _variant == 'default-3-col' %}
      {% set _card_classes = [
        'listing-item',
        'border-bottom',
        'border-md-0',
        'border-0',
      ] %}
      {% set _card_attributes = _card_attributes.addClass(_card_classes) %}
      {% set _card = _card|merge({
        extra_classes_body: 'p-0 pb-md-0 pb-3',
        horizontal: true,
        attributes: _card_attributes,
      }) %}

      {% if _variant == 'default-2-col' %}
        {% set _card = _card|merge({
          horizontal_grid: {
            left_col_classes: 'col-xl-3 col-md-5 ' ~ _max_width ~ _alignment,
            right_col_classes: 'col-xl-9 col-md-7' ~ _alignment,
          },
        }) %}
        {% set _card_layout = _card_layout|merge({
          responsive_columns: 2,
        }) %}
      {% else %}
        {% set _card = _card|merge({
          horizontal_grid: {
            left_col_classes: 'col-lg-4 col-md-6 ' ~ _max_width ~ _alignment,
            right_col_classes: 'col-lg-8 col-md-6' ~ _alignment,
          },
        }) %}
        {% set _card_layout = _card_layout|merge({
          attributes: _card_layout.attributes.addClass(['row-cols-md-2']),
          responsive_columns: 3,
          responsiveness: 'xl',
        }) %}
      {% endif %}
    {% endif %}

    {% if _variant == 'highlight-1-col' %}
      {% set _card_classes = [
        'listing-item--highlight',
        'border-0',
        'bg-lighter'
      ] %}
     {% set _card_attributes = _card_attributes.addClass(_card_classes) %}
     {% set _card = _card|merge({
         extra_classes_body: 'pb-4',
         wrapper_class: 'col',
         attributes: _card_attributes,
      }) %}
     {% set _card_layout = _card_layout|merge({
       cols_extra_classes: 'mt-4-5',
     }) %}
    {% endif %}

    {% if _variant == 'highlight-2-col' or variant == 'highlight-3-col' %}
      {% set _card_classes  = [
        'listing-item--highlight',
        'border-0',
        'bg-lighter',
        'h-100',
        'rounded-2'
      ] %}
      {% set _card_attributes = _card_attributes.addClass(_card_classes) %}
      {% set _card = _card|merge({
        wrapper_class: 'col',
        extra_classes_body: 'pt-0',
        attributes: _card_attributes,
      }) %}
      {% set _card_layout = _card_layout|merge({ gutter: '4' }) %}
      {% if variant == 'highlight-2-col' %}
        {% set _card_layout = _card_layout|merge({ responsive_columns: 2 }) %}
      {% else %}
        {% set _card_layout = _card_layout|merge({ responsive_columns: 3 }) %}
      {% endif %}
    {% endif %}

    {% set _cards = _cards|merge([_card]) %}
  {% endfor %}
{% endif %}

  {% include "@oe-bcl/bcl-card-layout/card-layout.html.twig" with _card_layout|merge({ items: _cards }) only %}

{% if _link is not empty %}
  {% set _link_attributes = _link.attributes ? _link.attributes : create_attribute() %}
  {% set _link_attributes = _link_attributes.addClass(['mt-3-5', 'd-inline-block']) %}
  {% if _variant == 'default-1-col' or _variant == 'default-2-col' or variant == 'default-3-col' %}
    {% set _link_attributes = _link_attributes.addClass(['ps-3-5']) %}
  {% endif %}
  {% include '@oe-bcl/bcl-link/link.html.twig' with _link|merge({
    attributes: _link_attributes,
    icon: _link.icon|merge({
      name: 'chevron-right',
      size: 'xs',
    }),
  }) only %}
{% endif %}
</div>

{% endspaceless %}
