{# Parameters:
  - size (sm, lg, xl, fullscreen)
  - id
  - header (block)
  - body (block)
  - footer (block)
  - extra_class
#}
{% set _size = size ? 'modal-' ~ size : '' %}
{% set _id = id|default('defaultModalId') %}
{% set _header = header|default('') %}
{% set _body = body|default('') %}
{% set _footer = footer|default('') %}
{% set _extra_class = extra_class|default('') %}

<div class="modal fade {{ _extra_class }}" id={{ _id }} tabindex="-1" aria-labelledby="{{ _id }}Label" aria-hidden="true">
  <div class="modal-dialog {{ _size }}">
    <div class="modal-content">
      <div class="modal-header">
        {%- block header _header -%}
      </div>
      <div class="modal-body">
        {%- block body _body -%}
      </div>
      <div class="modal-footer">
        {%- block footer _footer -%}
      </div>
    </div>
  </div>
</div>
