{% spaceless %}

{% if data.header is defined %}
  {% include '@oe-bcl/bcl-header/header.html.twig' with data.header only %}
{% endif %}
<main>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-3">
        {% include '@oe-bcl/bcl-user-listing/user-listing-offcanvas.html.twig' with data.offcanvas only %}
      </div>
      <div class="col-12 col-lg-9">
      {% include '@oe-bcl/bcl-button/button.html.twig' with data.filter_button only %}
      <div class="mb-3 clearfix">
        <div class="float-end d-none d-md-block">
          {% include '@oe-bcl/bcl-select/select.html.twig' with data.sort_select|merge({
            extra_classes: "w-auto d-inline-block ms-2"
          }) only %}
        </div>
        <h4 class="mb-4">Users ({{ data.cards.length }})</h4>
        {% if data.badges is not empty and data.badges is iterable %}
          {% for badge in data.badges %}
            {% include '@oe-bcl/bcl-badge/badge.html.twig' with badge only %}
          {% endfor %}
        {% endif %}
      </div>
      <hr class="d-none d-md-block mb-4"/>
      <div class="d-md-none">
        {% include '@oe-bcl/bcl-select/select.html.twig' with data.sort_select|merge({
          extra_classes: "mb-4"
        }) only %}
      </div>
      {% if data.cards is not empty and data.cards is iterable %}
        {% for card in data.cards %}
          {% include '@oe-bcl/bcl-card/card.html.twig' with card only %}
        {% endfor %}
      {% endif %}
        <hr/>
        {% include '@oe-bcl/bcl-pagination/pagination.html.twig' with data.pagination only %}
      </div>
    </div>
  </div>
</main>
{% if data.footer is defined %}
  {% include '@oe-bcl/bcl-footer/footer.html.twig' with data.footer only %}
{% endif %}

{% endspaceless %}
