// Standalone badges
.badge {
  font-size: $badge-font-size;
  font-weight: $badge-font-weight;
  display: inline-flex;
  align-items: center;
  @include media-breakpoint-up(md) {
    font-size: $badge-font-size-desktop;
  }
  .icon--close {
    display: inline-flex;
    width: 12px;
    height: 12px;
    margin-left: 0.3rem;
    font-size: 1em;
    font-weight: 300;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: $white;
    border-radius: 50%;
    svg {
      width: 6px;
      height: 6px;
      margin: 0;
    }
  }
}

a.badge {
  text-decoration: none;
}

@each $color, $value in $theme-colors {
  .badge.bg-#{$color} {
    .icon--close {
      color: $value;
      @if $color == light or $color == warning {
        background: $black;
      }
    }
  }
  .badge-outline-#{$color} {
    border: $border-width solid $value;
    color: $value !important;
    background: transparent !important;
    .icon--close {
      background: $value;
      @if $color == light {
        color: $black;
      } @else {
        color: $white;
      }
    }
  }
  a.badge-outline-#{$color} {
    &:focus,
    &:active,
    &:hover {
      background: $value !important;
      @if $color == light or $color == warning {
        color: $black !important;
      } @else {
        color: $white !important;
      }
      .icon--close {
        background: $white;
        color: $value;
        @if $color == light or $color == warning {
          background: $black;
        } @else {
          background: $white;
        }
      }
    }
  }
  a.badge.bg-#{$color} {
    &:focus,
    &:active,
    &:hover {
      background-color: shade-color($value, 15%) !important;
    }
  }
}
