// Standalone badges
.badge {
  font-size: $badge-font-size;
  font-weight: $badge-font-weight;
  vertical-align: 15%;
  @include media-breakpoint-up(md) {
    font-size: $badge-font-size-desktop;
  }
  .icon--close {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 0.3rem;
    font-size: 1em;
    font-weight: 300;
    line-height: 0.55rem;
    vertical-align: inherit;
    cursor: pointer;
    background: $white;
    border-radius: 50%;
    svg {
      width: 12px;
      height: 12px;
      margin: 0;
    }
  }
  &.bg-primary {
    .icon--close {
      color: $primary;
    }
  }
  &.bg-secondary {
    .icon--close {
      color: $secondary;
    }
  }
  &.bg-success {
    .icon--close {
      color: $success;
    }
  }
  &.bg-danger {
    .icon--close {
      color: $danger;
    }
  }
  &.bg-dark {
    .icon--close {
      color: $dark;
    }
  }
  &.bg-warning {
    .icon--close {
      color: $warning;
      background: $black;
    }
  }
  &.bg-info {
    .icon--close {
      color: $info;
      background: $black;
    }
  }
  &.bg-light {
    background-color: $badge-light-background-color !important;
    .icon--close {
      color: $light;
      background: $black;
    }
  }
}

// Badges in headings and other text elements
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  .badge {
    font-size: 0.75em; // Default size in Bootstrap
  }
}
