// Standalone badges
.badge {
  font-size: $badge-font-size;
  font-weight: $badge-font-weight;
  display: inline-flex;
  align-items: center;
  @include media-breakpoint-up(md) {
    font-size: $badge-font-size-desktop;
  }
  .icon--close {
    display: inline-flex;
    width: 12px;
    height: 12px;
    margin-left: 0.3rem;
    font-size: 1em;
    font-weight: 300;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: $white;
    border-radius: 50%;
    border: none;
    padding: 0;
    svg {
      width: 6px;
      height: 6px;
      margin: 0;
    }
  }
}

@each $color, $value in $theme-colors {
  .badge.bg-#{$color} a,
  .badge.bg-#{$color} {
    @if $color == light or $color == warning {
      color: $black;
    } @else {
      color: $white;
    }
    .icon--close {
      color: $value;
      @if $color == light or $color == warning {
        background: $black;
      }
    }
  }
  .badge-outline-#{$color} a {
    color: $value !important;
  }
  .badge-outline-#{$color} {
    border: $border-width solid $value;
    color: $value !important;
    background: transparent !important;
    .icon--close {
      background: $value;
      @if $color == light {
        color: $black;
      } @else {
        color: $white;
      }
    }
  }
  .actionable {
    &:focus-within,
    &:active,
    &:hover {
      &.badge-outline-#{$color} {
        background-color: tint-color($value, 90%) !important;
        border-color: shade-color($value, 15%) !important;
      }
      &.badge.bg-#{$color} {
        background-color: shade-color($value, 15%) !important;
      }
    }
    &:focus-within {
      @if $enable-shadows {
        @include box-shadow(
          $badge-active-box-shadow,
          0 0 0 $badge-focus-width rgba($value, 0.5)
        );
      } @else {
        box-shadow: 0 0 0 $btn-focus-width rgba($value, 0.5);
      }
    }
  }
}
