/* stylelint-disable no-descending-specificity */
// Banners
.bcl-banner {
  position: relative;

  p {
    font-size: 1.125rem;
    font-weight: 500;
  }

  &.shade {
    color: $dark;
  }

  &.hero {
    p {
      font-size: 1rem;
    }
    .bcl-banner__content {
      padding: map-get($spacers, 5) map-get($spacers, "4-5");
    }
  }
}

.bcl-banner__content {
  padding: map-get($spacers, "4-75") map-get($spacers, "4-5");
}

.bcl-banner__image {
  width: 100%;
  overflow: hidden;
  background-position: center center;
  background-size: cover;

  &::before {
    display: block;
    width: 100%;
    padding-top: 25%;
    content: "";
  }

  .hero &::before {
    padding-top: 33.33%;
  }
}

@include media-breakpoint-up(md) {
  .bcl-banner {
    overflow: hidden;
    border-radius: 4px;

    &.overlay {
      .bcl-banner__content {
        background: $white;
        border-bottom: 4px solid transparent;
      }
    }

    &.shade {
      color: $white;
      .bcl-banner__image::before {
        display: block;
        width: 100%;
        height: 100%;
        content: "";
        background-color: rgba(0, 0, 0, 0.5);
      }
    }

    &.hero {
      p {
        font-size: 1.125rem;
      }
      .bcl-banner__content {
        padding: map-get($spacers, "4-5");
        margin: 5.25rem auto;
      }
    }

    &:not(.text-center):not(.shade) {
      .bcl-banner__content {
        margin-left: map-get($spacers, "4-75");
        border-bottom: 0;
        border-left: 4px solid transparent;
      }
    }

    &.full-width {
      left: 50%;
      width: 100vw;
      margin-left: -50vw;
      border-radius: 0;
    }
  }

  .bcl-banner__content {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: map-get($spacers, "4-5");
    margin: 2.75rem auto;
    border-radius: 4px;
  }

  .bcl-banner__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: cover;
  }

  .container {
    .bcl-banner:not(.text-center):not(.shade) {
      .bcl-banner__content {
        margin-left: 0;
      }
    }
  }
}

// Banners ratio
@include media-breakpoint-up(lg) {
  .bcl-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 300px;

    .container {
      position: absolute;
    }

    &::before {
      display: block;
      width: 100%;
      padding-top: 25%;
      content: "";
    }

    &.hero {
      min-height: 380px;
      &::before {
        padding-top: 33.33%;
      }
    }
  }
}
