@media screen and (min-width: 992px) {
  .bcl-offcanvas {
    position: relative;
    visibility: visible !important;
    border: none;
    width: auto;
    transform: none;
    .offcanvas-body {
      overflow: visible;
    }
  }
}
