@include media-breakpoint-up(md) {
  .bcl-offcanvas {
    position: relative;
    width: auto;
    visibility: visible !important; // stylelint-disable-line declaration-no-important
    border: none;
    transform: none;

    .offcanvas-body {
      overflow: visible;
    }
  }

  .bcl-offcanvas + .offcanvas-backdrop {
    display: none;
  }
}
