// stylelint-disable declaration-no-important

@media screen and (min-width: 992px) {
  .bcl-offcanvas {
    position: relative;
    width: auto;
    visibility: visible !important;
    border: none;
    transform: none;
    .offcanvas-body {
      overflow: visible;
    }
  }
  .bcl-offcanvas + .offcanvas-backdrop {
    display: none;
  }
}
