.bcl-copyright {
  color: $dark;
  padding: 0.25rem 0.5rem;
  background: $light;
  font-size: 0.875rem;
  text-align: left;
}

.bcl-content-banner.bg-lighter {
  .bcl-copyright {
    padding: 0.25rem 0;
  }
}
