@import "./bcl-theme";

// stylelint-disable declaration-no-important, no-descending-specificity

$footer-border-color: #adb5bd !default;

.bcl-footer--neutral {
  background: $gray-600;
  a,
  p {
    color: $white;
  }
  a {
    &:focus-visible {
      box-shadow: none;
      border: none;
      outline: 2px solid $white;
    }
  }
}

.bcl-footer--eu,
.eu__footer {
  background: $eu-light-blue;
  a {
    color: $eu-footer-link;
    &:focus-visible {
      box-shadow: none;
      border: none;
      outline: 2px solid $primary;
    }
  }
}

.bcl-footer--ec,
.ec__footer {
  background: $ec-blue;
  a,
  p {
    color: $white;
  }
  a {
    &:focus-visible {
      box-shadow: none;
      border: none;
      outline: 2px solid $white;
    }
  }
}

.bcl-footer *[class*="border-"] {
  border-color: $footer-border-color !important;
}

.bcl-footer__bordered-row::before {
  display: block;
  width: 100%;
  margin: 0 12px;
  margin-bottom: map-get($spacers, 4);
  content: "";
  border-bottom: 1px solid $footer-border-color;
}

@include media-breakpoint-up(lg) {
  .bcl-footer__bordered-row::before {
    margin-bottom: map-get($spacers, 5);
  }
}
