// stylelint-disable declaration-no-important

$footer-border-color: #adb5bd !default;
$footer-background: $gray-600;

.bcl-footer {
  background: $footer-background;
}

.bcl-footer a,
.bcl-footer p {
  color: $white;
}

.bcl-footer.eu__footer {
  background: $eu-light-blue;
}

.bcl-footer.eu__footer a {
  color: $link-color;
}

.bcl-footer.eu__footer p {
  color: $body-color;
}

.bcl-footer.ec__footer {
  background: $ec-blue;
}

.bcl-footer *[class*="border-"] {
  border-color: $footer-border-color !important;
}

.bcl-footer__bordered-row::before {
  display: block;
  width: 100%;
  margin: 0 12px;
  margin-bottom: map-get($spacers, 4);
  content: "";
  border-bottom: 1px solid $footer-border-color;
}

@include media-breakpoint-up(lg) {
  .bcl-footer__bordered-row::before {
    margin-bottom: map-get($spacers, 5);
  }
}
