// header
$header-background: #004494 !default;
$header-background-start: #039 !default;
$header-background-end: #1b4ac3 !default;
$header-link-active-background: #003776 !default;

.bcl-header .container {
  position: relative;
}

.bcl-header__project {
  background: linear-gradient(
    90deg,
    $header-background-start 0%,
    $header-background-end 100%
  );
}

.bcl-header .nav-link {
  color: $eu-blue;
  display: flex;
  align-items: center;
  padding: map-get($spacers, 2);
}

.bcl-header--ec,
.ec__header {
  .bcl-header__project {
    background: $header-background;
  }
  /* stylelint-disable-next-line no-descending-specificity */
  .nav-link {
    color: $ec-blue;
  }
}

.bcl-navbar-header {
  align-items: flex-end;
}

.bcl-header--neutral {
  .bcl-header__project {
    background: $gray-700;
  }
}

.bcl-header:not(.bcl-header--neutral) .bcl-header__project {
  padding-top: map-get($spacers, 3);
}

.bcl-header {
  .navbar-brand img {
    width: 100px;
  }

  .notification {
    position: relative;
    padding-right: 0;

    span {
      z-index: 1;
      height: 18px;
      padding-right: 5px;
      padding-left: 5px;
      line-height: 0.6rem;
      border-radius: 10px;
      transform: translate(-11px, 5px);
    }
  }
}

.bcl-header__project .bcl-header__site-name {
  display: inline-block;
  margin-bottom: 0;
  font-size: 1.3rem;
  font-weight: 300;
  color: $white;
  vertical-align: middle;
  max-width: 80%;
}

@media only screen and (max-width: 400px) {
  .bcl-header--neutral .bcl-header__project-logo {
    display: none;
  }
}

@include media-breakpoint-up(md) {
  .bcl-header--ec,
  .ec__header {
    .navbar-brand img {
      width: 180px;
    }
  }
}

@include media-breakpoint-down(lg) {
  .bcl-header__project {
    min-height: map-get($spacers, 5);
    padding: map-get($spacers, 3) 0;
  }

  .bcl-header nav + nav {
    min-height: 3.5rem;

    .navbar-toggler {
      position: static;
    }
  }

  .header-navbar {
    background: $white;
    position: relative;
    .navbar {
      padding-top: 0;
    }
    .navbar-nav {
      width: 100%;
      .navigation-items > .dropdown > a,
      .navigation-items > a,
      .nav-link {
        color: $dark;
        width: 100%;
        display: block;
        position: relative;
        padding: 1rem;
        border-bottom: 1px solid $primary-bg-subtle;
        &.active {
          color: $dark;
        }
        &.dropdown-toggle {
          &:after {
            background: url("data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2215%22%20viewBox%3D%220%200%2016%2015%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M7.57488%2013.25L8.46238%2014.125L15.1374%207.45L8.43738%200.75L7.56238%201.625L12.7276%206.81247H0.5V8.06247H12.7512L7.57488%2013.25Z%22%20fill%3D%22%23212529%22%2F%3E%3C%2Fsvg%3E");
            background-size: cover;
            background-position: center;
            content: "";
            position: absolute;
            border: none;
            width: 20px;
            height: 20px;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .bcl-header__project.light,
  .bcl-header--ec .bcl-header__project.light,
  .ec__header .bcl-header__project.light {
    background: $white;
  }

  .header-navbar {
    background: linear-gradient(
      90deg,
      $header-background-start 0%,
      $header-background-end 100%
    );
    .nav-link {
      color: $white;
    }
  }

  .bcl-header--ec,
  .ec__header {
    .header-navbar {
      background: $header-background;
    }
  }

  .bcl-header--neutral {
    .header-navbar {
      background: $gray-700;
    }
  }

  .bcl-header__site-name {
    margin-left: map-get($spacers, 4);
    font-weight: 500;
  }

  .bcl-header__project.light .bcl-header__site-name {
    color: $black;
  }

  .bcl-header .navbar-toggler {
    position: relative;
    right: 0;
    bottom: 0;
  }

  .bcl-header .navbar-brand img {
    width: auto;
  }

  .bcl-header__navbar .navbar-collapse {
    padding-bottom: 0;
  }

  .bcl-header__navbar .dropdown-menu {
    z-index: 1050; // Make sure dropdown overlaps the search offcanvas
  }

  .bcl-header:not(.bcl-header--neutral) .bcl-header__project {
    padding-bottom: map-get($spacers, 3);
  }

  .header-navbar.collapse {
    display: block;
  }

  .bcl-header--ec,
  .ec__header {
    .navbar-brand img {
      width: 285px;
    }
  }
}

.bcl-language-list-modal {
  .btn-close {
    opacity: 1;
  }
  .modal-title {
    @extend %heading;
    @include font-size($h5-font-size);
  }
  &.bcl-language-list-modal--ec,
  &.bcl-language-list-modal--eu {
    .modal-body {
      padding-top: map-get($spacers, 2);
      overflow: visible;
    }
    .modal-header {
      border: 0;
      padding: 0;
    }
  }
  &.bcl-language-list-modal--eu {
    .modal-body {
      background: $white;
    }
    .modal-dialog {
      background: $white;
    }
    .modal-title {
      color: $eu-cta-color;
    }
    svg {
      color: $eu-cta-color;
    }
    .btn-close {
      filter: $btn-close-eu-filter;
    }
  }
  &.bcl-language-list-modal--ec {
    background: $eu-background-color;
    .modal-content {
      background: $eu-background-color;
    }
    .modal-title {
      color: $white;
    }
    svg {
      color: $white;
    }
    .btn-close {
      filter: $btn-close-white-filter;
    }
  }
}
