// header
$header-background: #004494 !default;
$header-background-start: #003399 !default;
$header-background-end: #1B4AC3 !default;
$header-link-active-background: #003776 !default;
$header-margin: 1.5rem 0.5rem !default;

.oe-header {
  margin: $header-margin;
}

.oe-header__project,
.oe-header__navbar {
  background-color: $header-background;
  background: linear-gradient(90deg, $header-background-start 0%, $header-background-end 100%);
}

.oe-navbar-header {
  align-items: flex-end;
}

.oe-header__navbar .navbar-nav .nav-link {
  color: $gray-400;
}

.oe-header__navbar .navbar-nav .nav-link:focus,
.oe-header__navbar .navbar-nav .nav-link:hover,
.oe-header__navbar .navbar-nav .nav-link.active {
  color: #fff;
}

.oe-header .notification {
  position: relative;
}

.oe-header .notification span{
  border-radius: 50%;
  width: 18px;
  height: 18px;
  line-height: 0.6rem;
  padding-left: 6px;
  position: absolute;
  right: 8px;
  top: 18px;
}

.oe-header__project {
  padding-top: map-get($spacers, 3);
}

.oe-header__project h1 {
  color: $white;
  display: inline-block;
  vertical-align: middle;
  font-weight: 300;
  font-size: 1.3rem;
  margin-bottom: 0;
}

.oe-header .navbar-toggler {
  position: absolute;
  right: 14px;
  bottom: calc(100% - 0.45rem);
  border-color: $gray-500;
}

@media (min-width: 992px) {
  .oe-header .navbar-toggler {
    position: relative;
    bottom: 0;
    right: 0;
  }
  .oe-header__navbar .nav-link.active {
    padding-top: $spacer;
    padding-bottom: $spacer;
    margin-top: -#{map-get($spacers, 2)};
    margin-bottom: -#{map-get($spacers, 2)};
  }
  .oe-header__project {
    padding-bottom: map-get($spacers, 3);
  }
  .oe-header__project h1 {
    padding-left: map-get($spacers, 3);
    font-weight: 500;
    font-size: 2.5rem;
  }
}

// language list
$language-background: $header-background !default;
$language-color: #fff !default;
$language-list-gap: map-get($spacers, 2) !default;
$language-item-background: #fff !default;
$language-item-color: $header-background !default;
$language-item-background-hover: #ffd617 !default;
$language-item-color-hover: $dark !default;

.oe-language .modal-content {
  color: $language-color;
  background-color: $language-background;
}

.oe-language__list {
  display: grid;
  gap: $language-list-gap;
  margin-bottom: map-get($spacers, 4);
}

.oe-language__title {
  margin-bottom: map-get($spacers, 4);
}

.oe-language__item {
  padding: map-get($spacers, 2) $spacer;
  font-weight: $font-weight-bold;
  color: $language-item-color;
  text-decoration: none; //should be handled at link level
  background-color: $language-item-background;

  &:hover,
  &:focus {
    color: $language-item-color-hover;
    text-decoration: underline;
    background-color: $language-item-background-hover;
  }
}

.oe-language .modal-body {
  padding-top: map-get($spacers, 5);
  padding-bottom: map-get($spacers, 5);
}

.oe-language .btn-close {
  filter: $btn-close-white-filter;
}
