// header
$header-background: #004494 !default;
$header-background-start: #039 !default;
$header-background-end: #1b4ac3 !default;
$header-link-active-background: #003776 !default;

.bcl-header__project,
.bcl-header__navbar {
  background: linear-gradient(
    90deg,
    $header-background-start 0%,
    $header-background-end 100%
  );
}

.bcl-header__navbar .container {
  position: relative;
}

.bcl-header__navbar .navbar-collapse {
  padding-bottom: map-get($spacers, 3);
}

.bcl-header--neutral {
  .bcl-header__project,
  .bcl-header__navbar {
    background: $gray-700;
  }
}

.bcl-navbar-header {
  align-items: flex-end;
}

.bcl-header .nav-link {
  color: $eu-blue;
}

.bcl-header--ec,
.ec__header {
  .bcl-header__project,
  .bcl-header__navbar {
    background: $header-background;
  }

  .nav-link {
    color: $ec-blue;
  }
}

.bcl-header:not(.bcl-header--neutral) .bcl-header__project {
  padding-top: map-get($spacers, 3);
}

.bcl-header__navbar .navbar-nav .nav-link {
  color: $gray-100;
  &:first-child {
    padding-left: 0;
  }
}

.bcl-header__navbar .navbar-nav .nav-link:focus,
.bcl-header__navbar .navbar-nav .nav-link:hover,
.bcl-header__navbar .navbar-nav .nav-link.active {
  color: #fff;
}

.bcl-header__navbar input:active,
.bcl-header__navbar input:focus {
  box-shadow: 0 0 0 0.25rem hsl(210deg 2% 83% / 50%);
}

.bcl-header .notification {
  position: relative;
  padding-right: 0;
}

.bcl-header .navbar-brand img {
  width: 100px;
}

.bcl-header .notification span {
  z-index: 1;
  height: 18px;
  padding-right: 5px;
  padding-left: 5px;
  line-height: 0.6rem;
  border-radius: 10px;
  transform: translate(-11px, 5px);
}

.bcl-header__project .bcl-header__site-name {
  display: inline-block;
  margin-bottom: 0;
  font-size: 1.3rem;
  font-weight: 300;
  color: $white;
  vertical-align: middle;
  max-width: 80%;
}

.bcl-header .navbar-toggler {
  position: absolute;
  top: -43px;
  right: 14px;
  border-color: $white;
}

.bcl-header .navbar-toggler .navbar-toggler-icon {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

@media only screen and (max-width: 400px) {
  .bcl-header--neutral .bcl-header__project-logo {
    display: none;
  }
}

@include media-breakpoint-down(sm) {
  .bcl-header .navbar:first-child .nav-link {
    padding: 0.5rem 0.4rem;
  }
}

@include media-breakpoint-up(md) {
  .bcl-header--ec,
  .ec__header {
    .navbar-brand img {
      width: 180px;
    }
  }
}

@include media-breakpoint-down(lg) {
  .bcl-header__project {
    min-height: map-get($spacers, 5);
    padding-top: map-get($spacers, 3);
  }

  .bcl-header nav + nav {
    min-height: map-get($spacers, 5);

    .navbar-toggler {
      position: static;
    }

    .container {
      justify-content: right;
    }
  }

  .bcl-header__navbar {
    .navbar-collapse {
      max-width: 100%;
      .nav-item {
        &.dropdown {
          max-width: 100%;
          a {
            white-space: normal;
          }
          .dropdown-menu {
            max-width: 100%;
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .bcl-header__project.light,
  .bcl-header--ec .bcl-header__project.light,
  .ec__header .bcl-header__project.light {
    background: $white;
  }

  .bcl-header__site-name {
    padding-left: map-get($spacers, 4);
    font-weight: 500;
  }

  .bcl-header__project.light .bcl-header__site-name {
    color: $black;
  }

  .bcl-header .navbar-toggler {
    position: relative;
    right: 0;
    bottom: 0;
  }

  .bcl-header .navbar-brand img {
    width: auto;
  }

  .bcl-header__navbar .navbar-collapse {
    padding-bottom: 0;
  }

  .bcl-header__navbar .nav-link.active {
    padding-top: $spacer;
    padding-bottom: $spacer;
    margin-top: -#{map-get($spacers, 2)};
    margin-bottom: -#{map-get($spacers, 2)};
  }

  .bcl-header__navbar .dropdown-menu {
    z-index: 1050; // Make sure dropdown overlaps the search offcanvas
  }

  .bcl-header:not(.bcl-header--neutral) .bcl-header__project {
    padding-bottom: map-get($spacers, 3);
  }

  .bcl-header--ec,
  .ec__header {
    .navbar-brand img {
      width: 285px;
    }
  }
}

.bcl-language-modal {
  .btn-close {
    opacity: 1;
  }
  &.bcl-language-modal--ec,
  &.bcl-language-modal--eu {
    .modal-body {
      padding-top: map-get($spacers, 2);
    }
  }
  &.bcl-language-modal--eu {
    .modal-dialog {
      background: $white;
    }
    h5 {
      color: $eu-cta-color;
    }
    svg {
      color: $eu-cta-color;
    }
    .btn-close {
      filter: $btn-close-eu-filter;
    }
  }
  &.bcl-language-modal--ec {
    background: $eu-background-color;
    .modal-content {
      background: $eu-background-color;
    }
    h5 {
      color: $white;
    }
    svg {
      color: $white;
    }
    .btn-close {
      filter: $btn-close-white-filter;
    }
  }
}
