.bcl-inpage-navigation {
  top: map-get($spacers, 3); // needed for position-sticky
  background-color: $gray-100;

  .bcl-heading {
    margin-bottom: 0;
    padding: map-get($spacers, "3-5");
    border-bottom: 1px solid $gray-300;
  }
  ul {
    padding: map-get($spacers, "2-5");

    .nav-link {
      padding: map-get($spacers, 2);
      margin-bottom: map-get($spacers, 2);
      &:not(.active) {
        &:hover {
          text-decoration-line: underline;
          text-decoration-color: currentColor;
        }
      }
    }

    ul {
      padding: 0 map-get($spacers, "2-5");
    }
  }
}

@include media-breakpoint-up(md) {
  .offcanvas-title,
  .sidebar-title {
    font-size: $h4-font-size;
  }
}
