/* stylelint-disable no-descending-specificity, declaration-no-important */
.bcl-mega-menu {
  &.nav-link {
    padding: 0;
  }
  > .show + .mega-menu-container.dropdown-menu {
    display: block;
  }
  .mega-menu-container.dropdown-menu {
    position: absolute;
    min-height: var(--bcl-mm-min-height);
    display: none;
    width: 100%;
    padding: 0 map-get($spacers, 3);
    border: none;
    top: 0;
    padding: 0;
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 0;
    border-radius: 0;
    &:after {
      content: "";
      height: 100%;
      left: 50%;
      position: absolute;
      top: 0;
      width: 100vw;
      transform: translateX(-50%);
      z-index: 1;
      background: $white;
    }
    .back-button-block {
      position: relative;
      z-index: 2;
      padding: 0 map-get($spacers, 3);
      background: $primary-bg-subtle;
      padding-top: 20px;
      .btn-link {
        text-decoration: none;
      }
    }
    > .row {
      flex: 1;
    }
    .content-block {
      position: relative;
      height: 100%;
      padding: map-get($spacers, 3);
      z-index: 2;
      background: $primary-bg-subtle;
      &:after {
        content: "";
        pointer-events: none;
        position: absolute;
      }
    }
    .content-link {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    .navigation-items {
      width: 100%;
      position: relative;
      z-index: 2;
      &:has(> .dropdown > .show) {
        > a,
        > .dropdown {
          display: none;
        }
      }
      .dropdown:has(.dropdown-toggle.show) {
        display: block;
      }
      > a,
      > button,
      > .dropdown > a,
      li > button,
      li > a {
        white-space: normal;
        &:has(svg) {
          padding-right: map-get($spacers, 5);
        }
        &.active,
        &.show {
          background: $primary-bg-subtle;
        }
      }
      li:has(.see-all-button) {
        margin: 0 map-get($spacers, "3-5");
        position: sticky;
        top: 100%;
      }
      .dropdown-toggle,
      > a {
        color: $dark;
        display: block;
        text-decoration: none;
        position: relative;
        &.show {
          color: $dark;
          text-decoration: none;
          pointer-events: none;
          font-size: 20px;
          padding-bottom: map-get($spacers, 5);
          text-decoration: none;
          svg {
            display: none;
          }
          &:after {
            display: none;
          }
        }
        &:after {
          display: none;
        }
        > svg {
          position: absolute;
          right: 20px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      &:has(.show) {
        .dropdown {
          height: 100%;
        }
      }
      .dropdown {
        &:has(.show) {
          background: $blue-50;
        }
        .dropdown-menu {
          transform: none !important;
          right: auto !important;
          width: 100%;
          border: 0;
          overflow: scroll;
          padding: 0;
          border-radius: 0;
          margin: 0;
          &:after {
            position: absolute;
            width: 100%;
            height: 96px;
            left: 0;
            top: 0;
            content: "";
          }
          .dropdown-item {
            color: $link-color;
            padding: map-get($spacers, 3);
            border-bottom: 1px solid $primary-bg-subtle;
            &:hover {
              background: transparent;
              text-decoration: underline;
            }
            &.see-all-button {
              padding-left: 0;
              padding-right: 0;
              color: $dark;
              position: relative;
              border-bottom: none;
            }
          }
        }
      }
    }
    &:has(.navigation-items .show) {
      .content-block {
        display: none;
      }
    }
  }
}
@include media-breakpoint-up(lg) {
  .nav-item:has(> .bcl-mega-menu) {
    position: static;
  }
  .bcl-mega-menu {
    > .show + .mega-menu-container.dropdown-menu {
      display: flex;
    }
    .mega-menu-container.dropdown-menu {
      top: 100%;
      margin-top: map-get($spacers, "2-5");
      border-bottom: var(--bs-border-width) var(--bs-border-style)
        var(--bs-border-color);
      &:has(.navigation-items .show) {
        .content-block {
          display: block;
        }
      }
      .content-block {
        margin-right: 0;
        background: $white;
        padding-right: map-get($spacers, 4);
        &:after {
          bottom: 0;
          box-shadow: 0 4px 5px 0 rgba(224, 229, 245, 0.5);
          height: 8px;
          left: 50%;
          bottom: 0;
          width: 100vw;
          transform: translateX(-50%);
          margin-left: 8px;
        }
      }
      .navigation-items {
        position: relative;
        width: 33%;
        margin-top: map-get($spacers, 3);
        height: 100%;
        &:has(> .dropdown > .show) {
          > a,
          > .dropdown {
            display: block;
          }
        }
        .dropdown {
          height: auto !important;
          position: static;
          .dropdown-menu {
            left: 100% !important;
            top: 0;
            height: 100% !important;
            margin: 0;
            overflow: visible;
            background: $primary-bg-subtle;
            &:after {
              display: none;
            }
            li:has(.see-all-button) {
              background: $primary-bg-subtle;
            }
            .dropdown-item {
              padding: map-get($spacers, "2-5") map-get($spacers, 3);
              border-bottom: none;
              &.see-all-button {
                &:after {
                  position: absolute;
                  top: 0;
                  left: 0;
                  height: 1px;
                  width: 100%;
                  content: "";
                  background: $neutral-border-color;
                }
              }
            }
            a {
              border: none;
            }
          }
          > a,
          > button,
          > .dropdown > a,
          li > button,
          li > a {
            &:hover {
              text-decoration: underline;
            }
          }
        }
        > a,
        > button,
        > .dropdown > a,
        li > button,
        li > a {
          &:hover {
            text-decoration: underline;
          }
        }
        .dropdown > a,
        & > a {
          color: $dark;
          width: 100%;
          display: block;
          position: relative;
          padding: map-get($spacers, "2-5") map-get($spacers, 3);
          &.active {
            color: $dark;
          }
        }
        .dropdown-toggle.show {
          font-size: 1rem;
          padding-bottom: map-get($spacers, "2-5");
          pointer-events: auto;
          svg {
            display: block;
          }
        }
      }
      &:after {
        display: none;
      }
    }
  }
  .bcl-mega-menu {
    .mega-menu-container.dropdown-menu {
      .content-block {
        margin-bottom: map-get($spacers, 4);
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  .bcl-mega-menu {
    .mega-menu-container.dropdown-menu {
      .content-block {
        box-shadow: none;
        &:after {
          bottom: 0;
          right: 0;
          top: 0;
          left: auto;
          margin-left: 0;
          width: 10px;
          height: 100%;
          box-shadow: 10px 0 10px 0 rgba(224, 229, 245, 0.5);
        }
      }
    }
  }
}
