.pagination {
  .page-link {
    // fix icons vertical alignment
    display: flex;
    height: 100%;
    align-items: center;
  }
}

.pagination--glossary {
  flex-wrap: wrap;
  margin-bottom: 0;

  .page-link {
    border: none;
    border-bottom: 2px solid transparent;
    color: $dark;
    font-weight: $font-weight-bold;
    padding: map-get($spacers, 3);
    text-transform: uppercase;
    white-space: nowrap;
  }

  .active .page-link {
    background: transparent;
    border-color: $primary;
    border-width: 2px;
    color: $dark;
    padding-bottom: calc(map-get($spacers, 3) - 1px);
  }

  .page-item:first-child .page-link {
    border-radius: 0;
  }
}

@include media-breakpoint-down(lg) {
  .pagination--glossary {
    @include horizontal-slider;
  }
}
