/* stylelint-disable no-descending-specificity */
.pagination {
  flex-wrap: wrap;
  .page-item {
    .page-link {
      // Align icons vertically and focus styling
      display: flex;
      height: 100%;
      align-items: center;
      &:focus-visible {
        box-shadow: none;
        outline: 2px solid $primary;
        outline-offset: -3px;
      }
    }

    &:not(.active) .page-link:focus-visible {
      background: transparent;
    }

    &.active .page-link:focus-visible {
      outline-color: $white;
    }
  }
}

.pagination--glossary {
  flex-wrap: wrap;
  margin-bottom: 0;

  .page-link {
    border: none;
    border-bottom: 2px solid transparent;
    color: $dark;
    font-weight: $font-weight-bold;
    padding: map-get($spacers, 3);
    text-transform: uppercase;
    white-space: nowrap;
  }

  .active .page-link {
    background: transparent;
    border-color: $primary;
    border-width: 2px;
    color: $dark;
    padding-bottom: calc(map-get($spacers, 3) - 1px);
  }

  .page-item:first-child .page-link {
    border-radius: 0;
  }
}

@include media-breakpoint-down(lg) {
  .pagination--glossary {
    @include horizontal-slider;
  }
}
