// General reset
body {
  // needed for full-width banner
  overflow-x: hidden;
}

em.placeholder {
  background-color: transparent;
  cursor: auto;
  min-height: 0;
  vertical-align: baseline;
  opacity: 1;
  display: inline;
}
