$bcl-spacing-s: 1.5rem;
$bcl-spacing-m: 2rem;

.bcl-section {
  @include clearfix;
  h1:not(.bcl-preserve),
  h2:not(.bcl-preserve),
  h3:not(.bcl-preserve),
  h4:not(.bcl-preserve),
  .h1:not(.bcl-preserve),
  .h2:not(.bcl-preserve),
  .h3:not(.bcl-preserve),
  .h4:not(.bcl-preserve),
  .bcl-heading:not(.bcl-preserve) {
    margin-bottom: $bcl-spacing-m;
    margin-top: $bcl-spacing-m;

    &:first-child {
      margin-top: 0;
    }
  }

  h5:not(.bcl-preserve),
  h6:not(.bcl-preserve),
  .h5:not(.bcl-preserve),
  .h6:not(.bcl-preserve) {
    margin-bottom: $bcl-spacing-s;
    margin-top: $bcl-spacing-s;

    &:first-child {
      margin-top: 0;
    }
  }

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: $bcl-spacing-m !important;
  }
}
