.bcl-bg-icon-test {
  mask-image: url("static/media/src/themes/default/icons/bcl-default-icons.svg#info-circle-fill-view");
  width: 1rem;
  height: 1rem;
  display: block;
  background-color: red;
}

.bcl-bg-icon-info-icon {
  mask-position: 16px 0;
}

.bcl-bg-icon {
  width: 1rem;
  height: 1rem;
  display: block;
  mask-image: var(--bcl-icon-path);
}

@each $color, $value in $theme-colors {
  .bcl-bg-icon-#{$color} {
    background-color: $value;
  }
}
