.text-underline-hover {
  text-decoration: none;
}
.text-underline-hover:hover {
  text-decoration: underline;
}

@include media-breakpoint-down(md) {
  .n-mx-container {
    padding-right: $container-padding-x;
    padding-left: $container-padding-x;
    margin-right: -$container-padding-x;
    margin-left: -$container-padding-x;
  }
}

// Override theme-color "light"
$theme-colors: map-merge(
  $theme-colors,
  (
    "light": $light,
  )
);
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");

.bg-lighter {
  background-color: $lighter;
}
