// Colors variables

$blue-50: tint-color($blue, 90%);
$red-50: tint-color($red, 90%);
$yellow-50: tint-color($yellow, 90%);
$green-50: tint-color($green, 90%);
$cyan-50: tint-color($cyan, 90%);

$custom-blues: (
  "blue-50": $blue-50,
);
$custom-reds: (
  "red-50": $red-50,
);
$custom-yellows: (
  "yellow-50": $yellow-50,
);
$custom-greens: (
  "green-50": $green-50,
);
$custom-cyans: (
  "cyan-50": $cyan-50,
);

$blues: map-merge($blues, $custom-blues);
$reds: map-merge($reds, $custom-reds);
$yellows: map-merge($yellows, $custom-yellows);
$greens: map-merge($greens, $custom-greens);
$cyans: map-merge($cyans, $custom-cyans);
