// Colors variables
$gray-100: #f0f0f0;
$light: $gray-100;
$blue-50: tint-color($blue, 90%);
$red-50: tint-color($red, 90%);
$yellow-50: tint-color($yellow, 90%);
$green-50: tint-color($green, 90%);
$cyan-50: tint-color($cyan, 90%);

$custom-blues: (
  "blue-50": $blue-50,
);
$custom-reds: (
  "red-50": $red-50,
);
$custom-yellows: (
  "yellow-50": $yellow-50,
);
$custom-greens: (
  "green-50": $green-50,
);
$custom-cyans: (
  "cyan-50": $cyan-50,
);

$theme-colors: map-merge(
  $theme-colors,
  (
    "light": $light,
  )
);
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
$blues: map-merge($blues, $custom-blues);
$reds: map-merge($reds, $custom-reds);
$yellows: map-merge($yellows, $custom-yellows);
$greens: map-merge($greens, $custom-greens);
$cyans: map-merge($cyans, $custom-cyans);

// Custom color variables
$ec-blue: #17458f;

$eu-blue: #1b4ac3;
$eu-light-blue: #f4f6fb;

// Spacers
$spacers-extended: (
  "2-5": $spacer * 0.75,
  "3-5": $spacer * 1.25,
  "4-25": $spacer * 1.75,
  "4-5": $spacer * 2,
  "4-75": $spacer * 2.5,
);

$spacers: map-merge($spacers, $spacers-extended);

// Forms
$form-check-input-size-lg: $form-check-input-width + 0.3em !default;
$form-font-size: $font-size-base !default;
$form-font-size-lg: $font-size-base + 0.25rem !default;
$form-select-height: 3rem !default;
$form-select-height-md: 2.375rem !default;

// Badges
$badge-font-weight: $font-weight-normal; // 400
$badge-font-size: 1.125rem; // 18px
$badge-font-size-desktop: 1rem; // 16px
