// Base theme colors
@import "@openeuropa/bcl-theme-default/src/scss/base/colors";

// Configuration
@import "@openeuropa/bcl-bootstrap/scss/functions";
@import "@openeuropa/bcl-bootstrap/scss/variables";
@import "@openeuropa/bcl-bootstrap/scss/mixins";

// Custom variables
@import "@openeuropa/bcl-theme-default/src/scss/base/variables";

@import "@openeuropa/bcl-bootstrap/scss/utilities";

// Layout & components
@import "@openeuropa/bcl-bootstrap/scss/root";
@import "@openeuropa/bcl-bootstrap/scss/reboot";
@import "@openeuropa/bcl-bootstrap/scss/type";
@import "@openeuropa/bcl-bootstrap/scss/images";
@import "@openeuropa/bcl-bootstrap/scss/containers";
@import "@openeuropa/bcl-bootstrap/scss/grid";
@import "@openeuropa/bcl-bootstrap/scss/tables";
@import "@openeuropa/bcl-bootstrap/scss/forms";
@import "@openeuropa/bcl-bootstrap/scss/buttons";
@import "@openeuropa/bcl-bootstrap/scss/transitions";
@import "@openeuropa/bcl-bootstrap/scss/dropdown";
@import "@openeuropa/bcl-bootstrap/scss/button-group";
@import "@openeuropa/bcl-bootstrap/scss/nav";
@import "@openeuropa/bcl-bootstrap/scss/navbar";
@import "@openeuropa/bcl-bootstrap/scss/card";
@import "@openeuropa/bcl-bootstrap/scss/accordion";
@import "@openeuropa/bcl-bootstrap/scss/breadcrumb";
@import "@openeuropa/bcl-bootstrap/scss/pagination";
@import "@openeuropa/bcl-bootstrap/scss/placeholders";
@import "@openeuropa/bcl-bootstrap/scss/badge";
@import "@openeuropa/bcl-bootstrap/scss/alert";
@import "@openeuropa/bcl-bootstrap/scss/progress";
@import "@openeuropa/bcl-bootstrap/scss/list-group";
@import "@openeuropa/bcl-bootstrap/scss/close";
@import "@openeuropa/bcl-bootstrap/scss/toasts";
@import "@openeuropa/bcl-bootstrap/scss/modal";
@import "@openeuropa/bcl-bootstrap/scss/tooltip";
@import "@openeuropa/bcl-bootstrap/scss/popover";
@import "@openeuropa/bcl-bootstrap/scss/carousel";
@import "@openeuropa/bcl-bootstrap/scss/spinners";
@import "@openeuropa/bcl-bootstrap/scss/offcanvas";

// Helpers
@import "@openeuropa/bcl-bootstrap/scss/helpers";
@import "@openeuropa/bcl-theme-default/src/scss/base/utilities";

// Utilities
@import "@openeuropa/bcl-bootstrap/scss/utilities/api";

// Custom styles
@import "@openeuropa/bcl-theme-default/src/scss/button";
@import "@openeuropa/bcl-theme-default/src/scss/collapse";
@import "@openeuropa/bcl-theme-default/src/scss/reset";
@import "@openeuropa/bcl-theme-default/src/scss/header";
@import "@openeuropa/bcl-theme-default/src/scss/footer";
@import "@openeuropa/bcl-theme-default/src/scss/tabs";
@import "@openeuropa/bcl-theme-default/src/scss/icon";
@import "@openeuropa/bcl-theme-default/src/scss/search-form";
@import "@openeuropa/bcl-theme-default/src/scss/input";
@import "@openeuropa/bcl-theme-default/src/scss/spinners";
@import "@openeuropa/bcl-theme-default/src/scss/badge";
@import "@openeuropa/bcl-theme-default/src/scss/multiselect";
@import "@openeuropa/bcl-theme-default/src/scss/bcl-offcanvas";
@import "@openeuropa/bcl-theme-default/src/scss/breadcrumb";
@import "@openeuropa/bcl-theme-default/src/scss/banners";
@import "@openeuropa/bcl-theme-default/src/scss/timeline";
@import "@openeuropa/bcl-theme-default/src/scss/inpage-navigation";
@import "@openeuropa/bcl-theme-default/src/scss/language-list";
