{# Parameters:
  - logo
    - src
    - width
    - height
  - navbar
    - color_set
#}
{% set _logo = {
  src: logo.src|default('https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/638px-Placeholder_view_vector.svg.png'),
  width: logo.width|default(100),
  height: navbar.height|default(60) 
} %}
{% set _navbar = {
  color_set: navbar.color_set|default('light') 
} %}

<header>
  <!-- header -->
  <div class="container">    
    <div class="oe-header">
      <a class="navbar-brand" href="#">
        <img src={{ _logo.src }} width={{ _logo.width }} height={{ _logo.height }} />
      </a>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="#" role="button" data-bs-toggle="modal" data-bs-target="#loginModal">
            Log in
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" role="button" data-bs-toggle="modal" data-bs-target="#languageModal">English</a>
        </li>
      </ul>
    </div>
  </div>

  <!-- navbar -->
  {% include '@oe/navbar/navbar.html.twig' with _navbar only %}
</header>

<!-- Modal - Login -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Log in</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5>Disclaimer 1</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum accumsan eget orci eu aliquet. Suspendisse potenti. Integer volutpat, nisl et placerat tincidunt</p>
        <h5>Disclaimer 2</h5>
        <p>Duis bibendum tristique lobortis. Nam luctus nisi sit amet turpis faucibus, ut dapibus elit sollicitudin. Phasellus a massa magna. Nullam ac imperdiet leo.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Access EU login</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal - Language -->
<div class="modal fade" id="languageModal" tabindex="-1" aria-labelledby="languageModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content oe-language">
      <div class="modal-header">
        <h5 class="modal-title" id="languageeModalLabel">Select your language</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col col-lg-8 offset-lg-2">
              <h5 class="oe-language__title">EU official languages</h5>
            </div>
          </div>
          <div class="row">
            <div class="col col-lg-4 offset-lg-2">
              <div class="oe-language__list">
                <a href="#" class="oe-language__item">Language 01</a>
                <a href="#" class="oe-language__item">Language 02</a>
                <a href="#" class="oe-language__item">Language 03</a>
              </div>
            </div>
            <div class="col col-lg-4">
              <div class="oe-language__list">
                <a href="#" class="oe-language__item">Language 04</a>
                <a href="#" class="oe-language__item">Language 05</a>
                <a href="#" class="oe-language__item">Language 06</a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col col-lg-8 offset-lg-2">
              <h5 class="oe-language__title">Non EU languages</h5>
            </div>
          </div>
          <div class="row">
            <div class="col col-lg-4 offset-lg-2">
              <div class="oe-language__list">
                <a href="#" class="oe-language__item">Language 07</a>
                <a href="#" class="oe-language__item">Language 08</a>
              </div>
            </div>
            <div class="col col-lg-4">
              <div class="oe-language__list">
                <a href="#" class="oe-language__item">Language 09</a>
                <a href="#" class="oe-language__item">Language 10</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
