$navbar-background: transparent !default;
$navbar-link-active-background: transparent !default;

.oe-navbar {
  background-color: $navbar-background;
}

.oe-navbar .nav-link.active {
  background-color: $navbar-link-active-background;
}
