// Color scheme - List Group

@mixin generate-list-group($color, $value) {
  // List group
  $lg-v-bg: shift-color($value, $list-group-item-bg-scale);
  $lg-v-color: shift-color($value, $list-group-item-color-scale);
  @if (contrast-ratio($lg-v-bg, $lg-v-color) < $min-contrast-ratio) {
    $lg-v-color: mix(
      $value,
      color-contrast($lg-v-bg),
      abs($list-group-item-color-scale)
    );
  }
  @include list-group-item-variant($color, $lg-v-bg, $lg-v-color);
}
