@import "@openeuropa/bcl-theme-default/src/scss/bcl-theme";
@import "@openeuropa/bcl-theme-default/src/scss/color-scheme-variables";
@import "@openeuropa/bcl-theme-default/src/scss/color_scheme/background";
@import "@openeuropa/bcl-theme-default/src/scss/color_scheme/text";
@import "@openeuropa/bcl-theme-default/src/scss/color_scheme/link";
@import "@openeuropa/bcl-theme-default/src/scss/color_scheme/alert";
@import "@openeuropa/bcl-theme-default/src/scss/color_scheme/buttons";
@import "@openeuropa/bcl-theme-default/src/scss/color_scheme/list_group";
@import "@openeuropa/bcl-theme-default/src/scss/color_scheme/badges";
@import "@openeuropa/bcl-theme-default/src/scss/color_scheme/utilities";

@each $scheme-name, $scheme-array in $colors-schemes {
  .#{$scheme-name} {
    $theme-colors-rgb: map-loop($scheme-array, to-rgb, "$value");
    @each $color, $value in $theme-colors-rgb {
      --#{$prefix}#{$color}-rgb: #{$value};
    }
    @each $color, $value in $scheme-array {
      --#{$prefix}#{$color}: #{$value};

      @if $color == "text" {
        @include generate-text($color, $value);
      } @else if $color == "link" {
        @include generate-link($color, $value);
      } @else if $color == "background" {
        @include generate-background($color, $value);
      } @else {
        @include generate-alerts($color, $value);
        @include generate-buttons($color, $value);
        @include generate-list-group($color, $value);
        @include generate-badges($color, $value);
        @include generate-utilities($color, $value);
      }
    }
  }
}
