{% extends '@oe-bcl/bcl-base-templates/content-type.html.twig' %}

{% block content %}
  <section class="bcl-section">
    {% include '@oe-bcl/bcl-form/form.html.twig' with form only %}
  </section>
{% endblock %}
