{% extends '@oe-bcl/bcl-base-templates/content-type.html.twig' %}

{% block content %}
  <div class="bcl-section">
    {% include '@oe-bcl/bcl-form/form.html.twig' with form only %}
  </div>
{% endblock %}
