// language list
.oe-language .modal-body {
  padding-top: map-get($spacers, 5);
  padding-bottom: map-get($spacers, 5);
}

.oe-language .btn-close {
  filter: $btn-close-white-filter;
}

.oe-language__title {
  margin-bottom: map-get($spacers, 4);
}

.oe-language__list {
  margin-bottom: map-get($spacers, 4);
}

.oe-language__item {
  padding: map-get($spacers, 2) $spacer;
  font-weight: $font-weight-bold;
  text-decoration: none; //should be handled at link level

  &:hover,
  &:focus {
    text-decoration: underline; //should be handled at link level
  }
}
