// header
@use "@openeuropa/bcl-theme-default/scss/header" with (
  $header-margin: 1.5rem .5rem,
  $language-background: $primary,
  $language-color: #fff,
  $language-list-gap: map-get($spacers, 2),
  $language-item-background: #fff,
  $language-item-color: $primary,
  $language-item-background-hover: $secondary,
  $language-item-color-hover: $dark,
);

.oe-navbar-header {
  align-items: flex-end;
}

$navbar-background: $primary !default;
$navbar-link-active-background: #003776 !default;

.oe-header__navbar {
  background-color: $navbar-background;
}

.oe-header__navbar .nav-link.active {
  background-color: $navbar-link-active-background;
}

@media (min-width: 992px) {
  .oe-header__navbar .nav-link.active {
    padding-top: $spacer;
    padding-bottom: $spacer;
    margin-top: -#{map-get($spacers, 2)};
    margin-bottom: -#{map-get($spacers, 2)};
  }
}
