{% spaceless %}

{#
  Parameters:
    - "background" (string) (default: 'white')
      options: [ white, gray ]
    - "banner" (object)
    - "title" (object)
    - "image" (object)
    - "content" (string)
    - "badges" (array of objects of type badge)
    - "action_button" (object of type button) (default: {})
    - "service_buttons" (array of objects of type button) (default: [])
    - "attributes" (drupal attrs)
#}

{% set _background = background|default('white') %}
{% set _action_button = action_button|default({}) %}
{% set _service_buttons = service_buttons|default([]) %}
{% set _image = image|default({}) %}

{% set _css_classes = [
  'bcl-content-banner',
  'pt-lg-4-75',
] %}

{% if _background != 'white' %}
  {% set _css_classes = _css_classes|merge([
    'pb-md-4-75',
    'pb-4',
    'pt-4',
  ]) %}
{% else %}
  {% set _css_classes = _css_classes|merge([
    'pt-3'
  ]) %}
{% endif %}

{% set _modifiers = {
  'white': 'bg-white',
  'gray': 'bg-lighter',
} %}

{% if attributes is empty %}
  {% set attributes = create_attribute() %}
{% endif %}

{% set _body_classes = 'pt-0 px-0 pb-0' %}
{% set _card_grid = 'col-12 col-md-10' %}

{% if _image is not empty %}
  {% set _horizontal_classes = {
    left_col_classes: 'col-md-4 col-lg-3',
    right_col_classes: 'col-md-8 col-lg-9 col-xxl-8'
  } %}
  {% set _body_classes = 'pt-md-0 px-0 px-md-3 pb-0' %}
{% else %}
  {% set _horizontal_classes = {
    right_col_classes: 'col-md-8 col-lg-9 col-xxl-8',
  } %}
  
  {% if _action_button is not empty %}
    {% set _horizontal_classes = {
      right_col_classes: 'col-12'
    } %}
    {% set _card_grid = 'col-12 col-md-8' %}
  {% endif %}
{% endif %}

{% set _card = {
  title: title|default({})|merge({
    tag: 'h2',
    attributes: create_attribute().addClass(['fw-bold']),
  }),
  horizontal: true,
  horizontal_grid: _horizontal_classes,
  action_button_title: _action_button,
  extra_classes_header: 'bg-transparent pt-0 pb-0 border-0',
  extra_classes_body: _body_classes,
} %}

{% set _css_classes = _css_classes|merge([_modifiers[_background]]) %}
{% set _attributes = attributes.addClass(['bg-transparent', 'border-0']) %}

{% if _button is not empty %}
  {% set _attributes = attributes.addClass(['col-md-10']) %}
{% endif %}

<div class="{{ _css_classes|join(' ') }}">
  <div class="container">
    <div class="row">
    {% include '@oe-bcl/bcl-card/card.html.twig' with _card %}
    {% if _service_buttons is not empty %}
      <div class="d-flex justify-content-end mt-4-5 mt-md-0">
      {% for _button in _service_buttons %}
        {% include '@oe-bcl/bcl-button/button.html.twig' with _button only %}
      {% endfor %}
      </div>
    {% endif %}
  </div>
  </div>
</div>

{% endspaceless %}
