{% extends '@oe-bcl/bcl-base-templates/content-type.html.twig' %}

{% block content %}
	<section class="bcl-section">
		{% include  '@oe-bcl/bcl-heading/heading.html.twig' with {
			title: 'Description',
		} only %}

		{{ get_dummy_text(14, true) }}</p>
	</section>

	<section class="bcl-section">
	{% include  '@oe-bcl/bcl-heading/heading.html.twig' with {
		title: 'File Downloads',
	} only %}

	{% for file in files %}
		{% include '@oe-bcl/bcl-file/file.html.twig' with file only %}
	{% endfor %}
	</section>

{% endblock %}
