{% extends '@oe-bcl/bcl-base-templates/content-type.html.twig' %}

{% block  content %}
	<div class="bcl-section">
		{% include  '@oe-bcl/bcl-heading/heading.html.twig' with {
			title: 'Description',
		} only %}

		<p>{{ get_dummy_text(6) }}</p>
		<p>{{ get_dummy_text(3) }}</p>
		<p>{{ get_dummy_text(5) }}</p>
	</div>

	<div class="bcl-section">
	{% include  '@oe-bcl/bcl-heading/heading.html.twig' with {
		title: 'File Downloads',
	} only %}

	{% for file in files %}
		{% include '@oe-bcl/bcl-file/file.html.twig' with file only %}
	{% endfor %}
	</div>

{% endblock %}
