{% apply spaceless %}

{# Parameters:
  - activities (object[]) (default: [])
    format: [
      {
        image: {
          path: "",
          alt: "",
          class: "",
        },
        content: "",
        meta: [
          {
            icon (icon object): {},
            label: ""
          }
        ]
      },
      ...
    ]
#}

{%- set _activities = activities|default([]) %}

{%- if attributes is empty %}
  {%- set attributes = create_attribute() %}
{% endif -%}

<div
  {{ attributes }}
>
{%- if _activities is not empty and _activities is iterable %}
  {%- for _activity in _activities -%}
  <div class="d-flex bg-lighter py-3 px-3 px-md-3-5 mb-3-5 rounded-2">
    {%- if _activity.image is not empty -%}
    <div>
      {{- _activity.image -}}
    </div>
    {%- endif %}
    {%- if _activity.content is not empty and _activity.meta is not empty -%}
    <div>
      {%- if _activity.content is not empty -%}
        <p class="mb-2">{{- _activity.content -}}</p>
      {%- endif -%}
      {%- if _activity.meta is not empty and _activity.meta is iterable -%}
        {%- for _meta in _activity.meta -%}
        <p class="mb-0">
        {%-  if _meta.icon is not empty -%}
          {% include '@oe-bcl/bcl-icon/icon.html.twig' with _meta.icon only %}
        {%- endif -%}
          {{- _meta.label -}}
        </p>
        {%- endfor -%}
      {%- endif -%}
    </div>
    {%- endif -%}
  </div>
  {%- endfor %}
{% endif -%}
</div>
{#--#}

{% endapply %}
