{% extends "@oe-bcl/bcl-base-templates/content-type.html.twig" %}

{% block content %}
  <div class="my-3">
    <h2 class="fw-bold mb-4">Personal information</h2>
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="row">
          <div class="col-12 col-md-4">
            <p class="mb-0">Gender:</p>
          </div>
          <div class="col-12 col-md-8">
            <p>Male</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-4">
            <p class="mb-0">Nationality:</p>
          </div>
          <div class="col-12 col-md-8">
            <p>German</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-4">
            <p class="mb-0">Date of birth:</p>
          </div>
          <div class="col-12 col-md-8">
            <p>22/01/1972</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="row">
          <div class="col-12 col-md-4">
            <p class="mb-0">Country:</p>
          </div>
          <div class="col-12 col-md-8">
            <p>Germany</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-4">
            <p class="mb-0">City:</p>
          </div>
          <div class="col-12 col-md-8">
            <p>Düsseldorf</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="my-3">
    <h2 class="fw-bold mb-4">Professional information</h2>
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="row">
          <div class="col-12 col-md-4">
            <p class="mb-0">Organisation:</p>
          </div>
          <div class="col-12 col-md-8">
            <p>DG Test</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-4">
            <p class="mb-0">Position:</p>
          </div>
          <div class="col-12 col-md-8">
            <p>Director</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="row">
          <div class="col-12 col-md-4">
            <p class="mb-0">Working languages:</p>
          </div>
          <div class="col-12 col-md-8">
            <p>English, German</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
