@use "sass:color";
.btn {
  font-weight: 500;
  &:not(.btn-link) {
    &:hover {
      box-shadow: $box-shadow;
    }
  }
}

.btn-primary {
  &:hover {
    background-color: color.adjust(
      color.adjust($primary, $saturation: -23.76%),
      $lightness: 8.63%
    );
  }
  &:focus,
  &:active,
  &.active {
    background-color: $primary-darker;
  }
}

.btn-secondary {
  color: $brand-darker;
  &:hover {
    color: $brand-darker;
  }
}

.btn-light {
  color: $primary;
  &:hover {
    color: $primary;
  }
}
