.btn {
  font-weight: 500;
  &:not(.btn-link) {
    &:hover {
      box-shadow: $box-shadow;
    }
  }
}

.btn-primary {
  &:hover {
    background-color: lighten(desaturate($primary, 23.76), 8.63);
  }
  &:focus,
  &:active,
  &.active {
    background-color: $primary-darker;
  }
}

.btn-secondary {
  color: $brand;
  &:hover {
    color: $brand;
  }
}

.btn-light {
  color: $brand;
  &:hover {
    color: $brand;
  }
}
