// Custom theme colors

$primary: #253ebe;
$secondary: #70254a;
$info: #0d768b;
$danger: #a51f2c;
$warning: #ffba07;
$success: #09854c;
$light: #f8f9fa;
$dark: #212529;

$gray-200: #e9ecef;
$gray-400: #ced4da;
$gray-600: #6c757d;
$gray-700: #495057;

$text-muted: #495057;

$neutral-bg-subtle: #f3f5fb;
$neutral-border-color: #b9c5e9;

// Color variants scales

// Tables
$table-hover-bg-factor: 0.1;

// Background colors as before for Alerts and list-group
$primary-bg-subtle: tint-color($primary, 90%);
$secondary-bg-subtle: tint-color($secondary, 90%);
$success-bg-subtle: tint-color($success, 90%);
$info-bg-subtle: tint-color($info, 90%);
$warning-bg-subtle: tint-color($warning, 90%);
$danger-bg-subtle: tint-color($danger, 90%);

$primary-border-subtle: tint-color($primary, 80%);
$secondary-border-subtle: tint-color($secondary, 80%);
$success-border-subtle: tint-color($success, 80%);
$info-border-subtle: tint-color($info, 80%);
$warning-border-subtle: tint-color($warning, 80%);
$danger-border-subtle: tint-color($danger, 80%);

// Colors as in Bootstrap 5.2.3

$breadcrumb-active-color: $gray-600;
$form-check-input-border: 1px solid #00000040;
$input-border-color: $gray-400;
$body-secondary-color: $gray-700;
$input-placeholder-color: $gray-600;
$form-file-button-bg: $gray-200;
$nav-link-disabled-color: $gray-600;
$table-border-factor: 0.1;
$nav-tabs-link-active-color: $gray-700;
