// Custom theme colors

$primary: #253ebe;
$secondary: #70254a;
$info: #0d768b;
$danger: #a51f2c;
$warning: #ffba07;
$success: #09854c;
$light: #f8f9fa;
$dark: #212529;

$text-muted: #495057;

$link-visited: #6b22b5;

// Color variants scales
$table-hover-bg-factor: 0.1;

$alert-bg-scale: -90%;
$alert-border-scale: -80%;
$alert-color-scale: 0%;
