// Custom theme colors

$primary: #253ebe;
$secondary: #70254a;
$info: #0d768b;
$danger: #a51f2c;
$warning: #ffba07;
$success: #09854c;
$light: #f8f9fa;
$dark: #212529;

$text-muted: #495057;

// Color variants scales

// Tables
$table-hover-bg-factor: 0.1;
