$semantic-colors: (
  "primary": (
    "-6": #ebecf9,
    "-5": #c8ceef,
    "-4": #a8b2e5,
    "-3": #8795dc,
    "-2": #6779d2,
    "-1": #5164cb,
    "+1": #172a8d,
    "+2": #0b1a63,
    "+3": #060f41,
  ),
  "secondary": (
    "-6": #f1e9ed,
    "-5": #d4bec9,
    "-4": #bf9dae,
    "-3": #a97c93,
    "-2": #9b6680,
    "-1": #864665,
    "+1": #5b1c3b,
    "+2": #44162d,
    "+3": #2a0e1c,
  ),
  "success": (
    "-6": #e6f3ed,
    "-5": #c1e0d2,
    "-4": #9dceb7,
    "-3": #78bc9c,
    "-2": #53aa82,
    "-1": #2e9767,
    "+1": #066438,
    "+2": #054829,
    "+3": #02321c,
  ),
  "info": (
    "-6": #ddf7fd,
    "-5": #b9e7f1,
    "-4": #92d2e0,
    "-3": #71bece,
    "-2": #53adc0,
    "-1": #3b9aae,
    "+1": #0a6375,
    "+2": #074b5a,
    "+3": #04333e,
  ),
  "warning": (
    "-6": #fff8e6,
    "-5": #fff1cd,
    "-4": #ffeab5,
    "-3": #ffe39c,
    "-2": #ffd977,
    "-1": #ffcb45,
    "+1": #f69708,
    "+2": #ea8208,
    "+3": #d86a05,
  ),
  "danger": (
    "-6": #f6e9ea,
    "-5": #e8c7ca,
    "-4": #dba5ab,
    "-3": #d28f95,
    "-2": #c46d76,
    "-1": #b74c56,
    "+1": #77111b,
    "+2": #580c13,
    "+3": #41050b,
  ),
);

@each $state, $value in $semantic-colors {
  $hover-bg-color: map-get($value, "+1");
  .btn-#{$state} {
    &:hover {
      background-color: $hover-bg-color;
    }
  }
}
