$utilities: map-merge(
  $utilities,
  (
    "background-color":
      map-merge(
        map-get($utilities, "background-color"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "background-color"), "values"),
              (
                date: $date,
              )
            ),
        )
      ),
    // Extend rounded-top utility.
    "max-width":
      map-merge(
        map-get($utilities, "max-width"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "max-width"), "values"),
              (
                date: 7.5rem,
                "listing-img": 10rem,
              )
            ),
        )
      ),
    // Create responsive classes for padding
    "padding":
      map-merge(
        map-get($utilities, "padding"),
        (
          responsive: true,
        )
      ),
    // Create responsive classes for borders
    "border":
      map-merge(
        map-get($utilities, "border"),
        (
          responsive: true,
        )
      ),
    // Create medium font weight class
    "font-weight":
      map-merge(
        map-get($utilities, "font-weight"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "font-weight"), "values"),
              (
                medium: 500,
              )
            ),
        )
      ),
  )
);

.text-underline-hover {
  text-decoration: none;
}
.text-underline-hover:hover {
  text-decoration: underline;
}

@include media-breakpoint-down(md) {
  .n-mx-container {
    padding-right: $container-padding-x;
    padding-left: $container-padding-x;
    margin-right: -$container-padding-x;
    margin-left: -$container-padding-x;
  }
}

.bg-lighter {
  background-color: $lighter;
}

.bg-gray-200 {
  background-color: $gray-200;
}

.grid-3-9 {
  grid-template-columns: 25% 75%;
  grid-gap: map-get($gutters, "2-5");
}
