$enable-negative-margins: true;
$negative-spacers: negativify-map($spacers);

// Colors variables
$lighter: $gray-100;
$date: #1698af;
$blue-50: tint-color($blue, 90%);
$red-50: tint-color($red, 90%);
$yellow-50: tint-color($yellow, 90%);
$green-50: tint-color($green, 90%);
$cyan-50: tint-color($cyan, 90%);

// Override theme-color "light"
$theme-colors: map-merge(
  $theme-colors,
  (
    "light": $light,
  )
);
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");

$custom-blues: (
  "blue-50": $blue-50,
);
$custom-reds: (
  "red-50": $red-50,
);
$custom-yellows: (
  "yellow-50": $yellow-50,
);
$custom-greens: (
  "green-50": $green-50,
);
$custom-cyans: (
  "cyan-50": $cyan-50,
);

$blues: map-merge($blues, $custom-blues);
$reds: map-merge($reds, $custom-reds);
$yellows: map-merge($yellows, $custom-yellows);
$greens: map-merge($greens, $custom-greens);
$cyans: map-merge($cyans, $custom-cyans);

// Custom color variables
$ec-blue: #17458f;

$eu-background-color: #034da1;
$eu-cta-color: #0e47cb;
$eu-blue: #1b4ac3;
$eu-light-blue: #f3f6fc;
$eu-footer-link: $eu-cta-color;
$eu-selected-background: #ffcc00;
$btn-close-eu-filter: invert(20%) sepia(70%) saturate(2876%) hue-rotate(216deg)
  brightness(94%) contrast(105%);

// Spacers
$spacers-extended: (
  "1-5": $spacer * 0.375,
  "2-5": $spacer * 0.75,
  "3-5": $spacer * 1.25,
  "4-25": $spacer * 1.75,
  "4-5": $spacer * 2,
  "4-75": $spacer * 2.5,
);

$spacers: map-merge($spacers, $spacers-extended);
$gutters: $spacers;

// accordion
$accordion-button-active-color: $accordion-button-color;
$accordion-button-active-bg: $lighter;
$accordion-border-color: $gray-300;

// Badges
$badge-font-weight: $font-weight-normal; // 400
$badge-font-size: 1.125rem; // 18px
$badge-font-size-desktop: 1rem; // 16px

// banners
$banner-content-border-color: $primary;

// Forms
$form-check-input-size-lg: $form-check-input-width + 0.3em !default;
$form-font-size: $font-size-base !default;
$form-font-size-lg: $font-size-base + 0.25rem !default;
$form-select-height: 3rem !default;
$form-select-height-md: 2.375rem !default;

// Navbar
$navbar-nav-link-padding-x: 0.75rem;
