{% spaceless %}

<header>
  {% include '@oe-bcl/navbar/navbar.html.twig' with data.navbar only %}
</header>
<main>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-3">
      <div class="offcanvas-mobile" tabindex="-1" id="offcanvas-mobile" aria-labelledby="offcanvasExampleLabel">
          <div class="offcanvas-body p-md-0">
            <h4 class="mb-4">Filter options</h4>
            {% include '@oe-bcl/form-input/form-input.html.twig' with data.searchInput only %}
            <p class="mt-4 mb-3">Content types</p>
            {% include '@oe-bcl/select/select.html.twig' with data.singleSelect only %}
            <p class="mt-4 mb-3">Filter B</p>
            {% include '@oe-bcl/form-input/form-input.html.twig' with data.firstInputFilter only %}
            {% include '@oe-bcl/form-input/form-input.html.twig' with data.secondInputFilter only %}
            <p class="mt-4 mb-3">Filter C</p>
            {% include '@oe-bcl/form-input/form-input.html.twig' with data.firstDatepickerFilter only %}
            {% include '@oe-bcl/form-input/form-input.html.twig' with data.secondDatepickerFilter only %}
            <div class="mt-4">
              {% include '@oe-bcl/button/button.html.twig' with data.buttonPrimary only %}
              {% include '@oe-bcl/button/button.html.twig' with data.buttonSecondary only %}
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-9">
      {% include '@oe-bcl/button/button.html.twig' with data.filterButton only %}
      <div class="float-end d-none d-md-block">
        {% include '@oe-bcl/select/select.html.twig' with data.sortSelect|merge({
          extra_classes: "w-auto d-inline-block ms-2"
        }) only %}
      </div>
      <h4 class="mb-3 mb-md-4">Search results (18)</h4>
      <div class="mb-4">
        {% if data.badges is not empty and data.badges is iterable %}
          {% for badge in data.badges %}
            {% include '@oe-bcl/badge/badge.html.twig' with badge only %}
          {% endfor %}
        {% endif %}
      </div>
      <hr class="d-none d-md-block mb-4"/>
      <div class="d-md-none">
        {% include '@oe-bcl/select/select.html.twig' with data.sortSelect|merge({
          extra_classes: "mb-4"
        }) only %}
      </div>
      {% if data.cards is not empty and data.cards is iterable %}
        {% for card in data.cards %}
          {% include '@oe-bcl/card/card.html.twig' with card only %}
        {% endfor %}
      {% endif %}
        <hr/>
        {% include '@oe-bcl/pagination/pagination.html.twig' with data.pagination only %}
      </div>
    </div>
  </div>
</main>

{% endspaceless %}
