{% extends '@oe-bcl/bcl-base-templates/content-type.html.twig' %}

{% block sidebar %}
  {% include '@oe-bcl/bcl-inpage-navigation/inpage-navigation.html.twig' with sidebar only %}
{% endblock %}

{% block content %}
  <section class="bcl-section">
    <p id="content">
      {{ get_dummy_text(6) }}
    </p>
  </section>
  <section class="bcl-section">
    {% include '@oe-bcl/bcl-heading/heading.html.twig' with {
      title: 'Section 1',
      attributes: create_attribute().setAttribute('id', 'item-1'),
    } only %}
    {% if featured_item %}
      {% include '@oe-bcl/bcl-featured-media/featured-media.html.twig' with featured_item only %}
    {% endif %}
  </section>
  {% if page_banner %}
    <section class="bcl-section">
      {% include '@oe-bcl/bcl-banner/banner.html.twig' with page_banner only %}
    </section>
  {% endif %}

  {% if listing %}
    <section class="bcl-section">
      {% include '@oe-bcl/bcl-listing/listing.html.twig' with listing only %}
    </section>
  {% endif %}

  <section class="bcl-section">
    {% include '@oe-bcl/bcl-heading/heading.html.twig' with {
      title: 'Section 2',
      attributes: create_attribute().setAttribute('id', 'item-2'),
    } only %}

    {{ get_dummy_text(6, true) }}
  </section>

  {% if blockquote %}
    <section class="bcl-section">
      {% include '@oe-bcl/bcl-blockquote/blockquote.html.twig' with blockquote only %}
    </section>
  {% endif %}
  {% if accordion %}
    <section class="bcl-section">
      {% include '@oe-bcl/bcl-accordion/accordion.html.twig' with accordion only %}
    </section>
  {% endif %}
  {% if timeline %}
    <section class="bcl-section">
      {% include '@oe-bcl/bcl-timeline/timeline.html.twig' with timeline only %}
    </section>
  {% endif %}

  <section class="bcl-section">
    {{ get_dummy_text(8, true) }}

    {% include '@oe-bcl/bcl-heading/heading.html.twig' with {
      title: 'Section 3',
      attributes: create_attribute().setAttribute('id', 'item-3'),
    } only %}

    {{ get_dummy_text(4, true) }}
  </section>

  <section class="bcl-section">
    {% include '@oe-bcl/bcl-file/file.html.twig' with files[0] only %}
    {% include '@oe-bcl/bcl-file/file.html.twig' with files[1] only %}
  </section>
{% endblock %}
