{% extends '@oe-bcl/bcl-base-templates/content-type.html.twig' %}

{% block sidebar %}
  {% include '@oe-bcl/bcl-inpage-navigation/inpage-navigation.html.twig' with sidebar only %}
{% endblock %}

{% block content %}
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet eleifend tortor. In facilisis eros vitae turpis ullamcorper,
  a euismod dolor lacinia. Nam facilisis ipsum et sollicitudin imperdiet. Curabitur a efficitur ante. Phasellus non felis laoreet,
  posuere ante ut, rhoncus tortor. Proin sed erat vel nisl luctus vulputate. Nunc tristique ultricies turpis, eu dictum enim ultrices vel.
  Sed posuere at leo sit amet placerat. Sed dapibus viverra urna ac pretium. Praesent et laoreet erat, eget volutpat metus. Duis ac augue
  sed tortor elementum dignissim in sit amet velit. Nullam nec viverra mi.
  </p>
  <h3 id="item-1" class="fw-bold my-4">Section 1</h3>
  {% if page_banner %}
    {% include '@oe-bcl/bcl-banner/banner.html.twig' with page_banner only %}
  {% endif %}

  {% if listing %}
    {% include '@oe-bcl/bcl-listing/listing.html.twig' with listing only %}
  {% endif %}

  <h3 id="item-2" class="fw-bold my-4">Section 2</h3>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet eleifend tortor. In facilisis eros vitae turpis ullamcorper,
  a euismod dolor lacinia. Nam facilisis ipsum et sollicitudin imperdiet. Curabitur a efficitur ante. Phasellus non felis laoreet,
  posuere ante ut, rhoncus tortor. Proin sed erat vel nisl luctus vulputate. Nunc tristique ultricies turpis, eu dictum enim ultrices vel.
  Sed posuere at leo sit amet placerat. Sed dapibus viverra urna ac pretium. Praesent et laoreet erat, eget volutpat metus. Duis ac augue
  sed tortor elementum dignissim in sit amet velit. Nullam nec viverra mi.
  </p>

  {% if blockquote %}
    {% include '@oe-bcl/bcl-blockquote/blockquote.html.twig' with blockquote only %}
  {% endif %}
  {% if accordion %}
    {% include '@oe-bcl/bcl-accordion/accordion.html.twig' with accordion only %}
  {% endif %}
  {% if timeline %}
    {% include '@oe-bcl/bcl-timeline/timeline.html.twig' with timeline only %}
  {% endif %}

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet eleifend tortor. In facilisis eros vitae turpis ullamcorper,
  a euismod dolor lacinia. Nam facilisis ipsum et sollicitudin imperdiet. Curabitur a efficitur ante. Phasellus non felis laoreet,
  posuere ante ut, rhoncus tortor. Proin sed erat vel nisl luctus vulputate. Nunc tristique ultricies turpis, eu dictum enim ultrices vel.
  Sed posuere at leo sit amet placerat. Sed dapibus viverra urna ac pretium. Praesent et laoreet erat, eget volutpat metus. Duis ac augue
  sed tortor elementum dignissim in sit amet velit. Nullam nec viverra mi.
  </p>
{% endblock %}
