{% apply spaceless %}

{# Parameters:
  - id (string) (default: dropdown-random(1000))
  - trigger (link or button)
  - content_block (block) (default: '')
  - items (object[])
    format: [
      {
        - link or dropdown
          ! dropdown extra property:
            collapse (render) - to showcase on the last column 
      }
    ]
  - back_button_label (string) (default: 'Back')
  - icon_path (string) (default: '')
#}

{% set _id = id|default('dropdown-' ~ random(1000)) %}
{% set _link = link ?? false %}
{% set _trigger = trigger|default({}) %}
{% set _content_block = content_block|default('') %}
{% set _items = items|default([]) %}
{% set _back_button_label = back_button_label|default('Back') %}
{% set _icon_path = icon_path|default('') %}

{% if attributes is empty %}
  {% set attributes = create_attribute() %}
{% endif %}

{% set _classes = ['bcl-mega-menu'] %}

{% set attributes = attributes.setAttribute('aria-labelledby', _id).addClass(_classes) %}

{% if _trigger.attributes is empty %}
  {% set _trigger = _trigger|merge({
    attributes: create_attribute()
  }) %}
{% endif %}
{% set _trigger = _trigger|merge({
  attributes: _trigger.attributes.addClass(['dropdown-toggle'])
                      .setAttribute('aria-expanded', 'false')
                      .setAttribute('data-bs-toggle', 'dropdown')
                      .setAttribute('data-bs-auto-close', 'outside')
                      .setAttribute('id', _id)
}) %}
{% if _link %}
  {% set _trigger = _trigger|merge({
    attributes: _trigger.attributes.setAttribute('role', 'button') 
  }) %}
{% else %}
  {% set _trigger = _trigger|merge({
    attributes: _trigger.attributes.setAttribute('autocomplete', 'off') 
  }) %}
{% endif %}

<div {{ attributes }}>
  {% if _link %}
    {% include '@oe-bcl/bcl-link/link.html.twig' with _trigger only %}
  {% else %}
    {% include '@oe-bcl/bcl-button/button.html.twig' with _trigger only %}
  {% endif %}
  <div class="mega-menu-container dropdown-menu" aria-labelledby="{{ _id }}">
    {% include '@oe-bcl/bcl-button/button.html.twig' with {
      label: _back_button_label,
      icon_position: "before",
      variant: 'link',
      icon: {
        path: _icon_path,
        name: "arrow-left",
      },
      attributes: create_attribute().addClass(['back-button'])
    } only %}
    <div class="row position-relative">
      {% if content_block is defined %}
      <div class="col-12 col-lg-4">
        <div class="content-block py-3">
          {%- block content_block -%}
            {{ _content_block }}
          {%- endblock -%}
        </div>
      </div>
      {% endif %}
      <div class="col-12 col-lg-8">
        <div class="navigation-items">
          {% for _item in _items %}
            {% if _item.items is defined %}
              {% set _trigger_attributes = _item.trigger.attributes is defined ? _item.trigger.attributes : create_attribute() %}
              {% include '@oe-bcl/bcl-dropdown/dropdown.html.twig' with _item|merge({
                direction: 'dropend',
                link: true,
                trigger: _item.trigger|merge({
                  attributes: _trigger_attributes.setAttribute('data-bs-auto-close', 'outside')
                })
              }) only %}
              {% if _item.collapse is defined %}
                <div class="collapse">
                  {{ _item.collapse }}
                </div>
              {% endif %}
            {% else %}
              {% include '@oe-bcl/bcl-link/link.html.twig' with _item only %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endapply %}
