{% extends '@oe-bcl/bcl-base-templates/content-type.html.twig' %}

{% block sidebar %}
  {% include '@oe-bcl/bcl-inpage-navigation/inpage-navigation.html.twig' with sidebar only %}
{% endblock %}

{% block content %}
  {% if information is defined %}
    <section class="bcl-section">
    {% if information.main_title is not empty %}
      {% include '@oe-bcl/bcl-heading/heading.html.twig' with {
        title: information.main_title,
      } only %}
    {% endif %}
    {% if information.content is not empty %}
      {{- information.content -}}
    {% endif %}
    </section>
  {% endif %} 

  {% if files is defined %}
    <section class="bcl-section">
      {% if files.main_title is not empty %}
        {% include '@oe-bcl/bcl-heading/heading.html.twig' with {
          title: files.main_title,
        } only %}
      {% endif %}
      {% if files.listing is defined and files.listing is not empty %}
        {% for file in files.listing %}
          {% include '@oe-bcl/bcl-file/file.html.twig' with file only %}
        {% endfor %}
      {% endif %}
    </section>
  {% endif %} 
{% endblock %}
