{% spaceless %}

{#
Parameters:
  - title: (string) (default: '')
  - title_tag: (string) (default: 'h3')
  - title_link: (link object) (default: {})
  - title_attributes (drupal attrs)
  - links: (array of link objects) (default: [])
  - id (string) (default: 'bcl-inpage-navigation-' random(10))
  - attributes (drupal attrs)
#}

{% set _title = title|default('') %}
{% set _title_tag = title_tag|default('h2') %}
{% set _title_link = title_link|default({}) %}
{% set _title_attributes = title_attributes ?: create_attribute() %}
{% set _links = links|default([]) %}
{% set _content = content|default('') %}
{% set _id = id|default('bcl-inpage-navigation-' ~ random(10)) %}
{% set _full_layout = full_layout|default(false) %}

{% if attributes is empty %}
  {% set attributes = create_attribute() %}
{% endif %}

{% set attributes = attributes.addClass(['bcl-inpage-navigation', 'position-sticky']).setAttribute('id', _id) %}
{% set title_attributes = _title_attributes.addClass('mb-0') %}

<nav {{ attributes }}>
  {% include '@oe-bcl/bcl-heading/heading.html.twig' with {
    title: _title,
    title_tag: _title_tag,
    title_link: _title_link,
    attributes: _title_attributes,
  } only %}
  {% include '@oe-bcl/bcl-navigation/navigation.html.twig' with {
    'pills': true,
    'vertical': true,
    'items': _links,
  } only %}
</nav>

{% endspaceless %}
