name: CI

on:
  pull_request:
    types: [opened, synchronize]
  push:
    branches:
      - master
      - development
      - v0.20-test

jobs:
  audit:
    name: audit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Test
        run: ./scripts/audit.sh
  size:
    name: size
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Size limit
        run: yarn size
  tests:
    name: tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Code style
        run: yarn pretty:check
      - name: Build themes
        run: yarn build:themes
      - name: Test
        run: yarn test
  deploy-pull-request-preview-full:
    name: deploy full preview
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request' && !contains(github.head_ref, '#')
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Package application
        run: yarn dist
      - name: Deploy to Netlify
        uses: nwtgck/actions-netlify@v1.2.1
        with:
          alias: preview-${{ github.event.number }}
          publish-dir: "build"
          github-token: ${{ secrets.GITHUB_TOKEN }}
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
  deploy-pull-request-preview-project:
    name: deploy preview for single projects
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request' && contains(github.head_ref, '#')
    steps:
      - name: Get project to be deployed
        shell: bash
        run: echo "##[set-output name=branch;]$(grep -oP '(?<=#).*?(?=#)' <<< ${GITHUB_HEAD_REF})"
        id: extract_branch
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Package application
        run: yarn dist-project ${{ steps.extract_branch.outputs.branch }}
      - name: Deploy to Netlify
        uses: nwtgck/actions-netlify@v1.2.1
        with:
          alias: preview-${{ github.event.number }}
          publish-dir: "build/${{ steps.extract_branch.outputs.branch }}"
          github-token: ${{ secrets.GITHUB_TOKEN }}
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
  deploy-development-branch:
    name: deploy preview for the development branch
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/development'
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Package application
        run: yarn dist
      - name: Deploy to Netlify
        uses: nwtgck/actions-netlify@v1.2.1
        with:
          alias: dev
          publish-dir: "build"
          github-token: ${{ secrets.GITHUB_TOKEN }}
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
  deploy_tag:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
    steps:
      - name: Get the tag name
        run: echo "TAG=${GITHUB_REF/refs\/tags\//}" >> $GITHUB_ENV
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Package application
        run: yarn dist
      - name: Deploy to Netlify
        uses: nwtgck/actions-netlify@v1.2.1
        with:
          alias: ${{ env.TAG }}
          publish-dir: "build"
          github-token: ${{ secrets.GITHUB_TOKEN }}
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
  deploy-master:
    name: deploy master branch
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Package application
        run: yarn dist
      - name: Deploy to Netlify
        uses: nwtgck/actions-netlify@v1.2.1
        with:
          production-deploy: true
          publish-dir: "build"
          github-token: ${{ secrets.GITHUB_TOKEN }}
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
