name: CI

on:
  pull_request:
    types: [opened, synchronize]
  push:
    branches:
      - master

jobs:
  audit:
    name: audit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Test
        run: ./scripts/audit.sh
  tests:
    name: tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Code style
        run: yarn pretty:check
      - name: Build themes
        run: yarn build:themes
      - name: Test
        run: yarn test
  deploy-pull-request-preview-full:
    name: deploy full preview
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request' && !contains('#*#', github.head.ref)
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Package application
        run: yarn dist
      - name: Deploy to Netlify
        uses: nwtgck/actions-netlify@v1.2.1
        with:
          alias: preview-${{ github.event.number }}
          publish-dir: "build"
          github-token: ${{ secrets.GITHUB_TOKEN }}
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
  deploy-pull-request-preview-project:
    name: deploy preview for single projects
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request' && contains('#joinup#', github.head.ref)
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Package application
        run: yarn dist-joinup
      - name: Deploy to Netlify
        uses: nwtgck/actions-netlify@v1.2.1
        with:
          alias: preview-${{ github.event.number }}
          publish-dir: "build"
          github-token: ${{ secrets.GITHUB_TOKEN }}
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
  deploy-master:
    name: deploy master branch
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Package application
        run: yarn dist
      - name: Deploy to Netlify
        uses: nwtgck/actions-netlify@v1.2.1
        with:
          production-deploy: true
          publish-dir: "build"
          github-token: ${{ secrets.GITHUB_TOKEN }}
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
