{% spaceless %}

{# 
  Parameters:
  - label (string) (default: '')
  - variant (string) (default: 'primary')
  - size (string) (default: 'md')
    - options ["sm", "md", "lg"]
  - type (string) (default: 'button')
  - outline (boolean) (default: false)
  - disabled (boolean) (default: false)
  - text_nowrap (boolean) (default: false)
  - assistive_text (string) (default: '')
  - id (string) (default: '')
  - icon (icon object) (default: {}): predefined structure for Icon component
  - icon_position (string) (default: after)
    - options ["after", "before"]
  - clean_class (boolean) (default: false)
  - spinner (spinner object) (default: {})
  - show_spinner (boolean) (default: false)
#}

{% set _label = label|default('') %}
{% set _variant = variant|default('primary') %}
{% set _size = size|default('md') %}
{% set _type = type|default('button') %}
{% set _outline = outline|default(false) %}
{% set _disabled = disabled|default(false) %}
{% set _text_nowrap = text_nowrap|default(false) %}
{% set _assistive_text = assistive_text|default('') %}
{% set _id = id|default('') %}
{% set _icon = icon|default({}) %}
{% set _icon_position = icon_position|default('after') %}
{% set _show_spinner = show_spinner|default(false) %}
{% set _spinner = spinner|default({}) %}
{% set _clean_class = clean_class|default(false) %}
{% set _classes = [] %}
{% if _clean_class == false %}
  {% set _classes = _classes|merge(['btn', 'btn-' ~ (_outline ? 'outline-' : '') ~ _variant|e('html_attr')]) %}
  {% set _classes = _classes|merge(['btn-' + _size|e('html_attr')]) %}
{% endif %}
{% if _text_nowrap %}
  {% set _classes = _classes|merge(['text-nowrap']) %}
{% endif %}
{% if attributes is empty %}
  {% set attributes = create_attribute() %}
{% endif %}
{% if _disabled %}
  {% set attributes = attributes.setAttribute('disabled', true).setAttribute('aria-disabled', 'true') %}
{% endif %}
{% if _id is not empty %}
  {% set attributes = attributes.setAttribute('id', _id) %}
{% endif %}
{% if _classes is not empty %}
  {% set attributes = attributes.addClass(_classes) %}
{% endif %}
{% set attributes = attributes.setAttribute('type', _type) %}

<button
  {{ attributes }}
>
{%- if _show_spinner -%}
  {% include '@oe-bcl/bcl-spinner/spinner.html.twig' with _spinner only %}
{%- endif -%}
{%- if _assistive_text is not empty -%}
  <span class="visually-hidden">{{- _assistive_text -}}</span>
{% endif %}
{%- if _icon_position == 'before' -%}
{% if _icon is not empty %}
  {% include '@oe-bcl/bcl-icon/icon.html.twig' with _icon only %}
{% endif %}
{%- endif -%}
  {{- _label -}}
{%- if _icon_position == 'after' -%}
{%- if _icon is not empty -%}
  {% include '@oe-bcl/bcl-icon/icon.html.twig' with _icon only %}
{%- endif -%}
{%- endif -%}
</button>

{% endspaceless %}
